.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-fixed {
  flex-shrink: 0;
  flex-grow: 0;
}
