.filter-node {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  background: $filter-node-background;
  border-radius: 3px;
  transition: all 200ms;
  margin-bottom: 3px;
  position: relative;
  box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.3);

  p {
    padding: 3px 6px;
    font-family: $mono-font;
    font-size: 9px;
    margin: 0;
    color: $filter-node-foreground;
    line-height: 11px;
  }

  .remove-button {
    height: 20px;
    width: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;

    &:hover {
      svg {
        transform: scale(1.25);
      }
    }

    svg {
      transition: transform 150ms;
      transform: scale(1);
      transform-origin: center;
      width: 6px;
      height: 6px;
      fill: $filter-node-foreground;
      stroke: $filter-node-foreground;
    }
  }

  .short-time-window {
    border-bottom: 1px dashed $gray;
  }

  &.focused {
    box-shadow: $box-shadow;
  }

  &.pending {
    background: white;
    outline: none;
    p {
      color: $gray-3;
    }
    .remove-button {
      svg {
        stroke: $gray-3;
        fill: $gray-3;
      }
    }
  }
}
