.select-options-wrapper {
  position: relative;
}

.select-options {
  padding: 0;
  position: absolute;
  top: calc(100% + #{$base-space/2});
  left: 0;
  background: white;
  border-radius: 3px;
  box-shadow: $box-shadow;
  max-height: 40px * 5;
  overflow-y: scroll;
  z-index: 1;

  .option {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 40px;
    padding: 0 24px;
    min-width: 150px;
    color: $gray-3;
    cursor: pointer;

    &.selected,
    &:hover {
      background: $off-white;
      color: $blue-3;
    }

    &:active {
      background: $light-gray-1;
    }
  }
}
