.time-picker {
  display: inline-block;
  position: relative;

  .times-list {
    position: absolute;
    top: calc(100% + #{$base-space});
    left: 0;
    background: white;
    border-radius: 3px;
    box-shadow: $box-shadow;
    height: 40px * 5;
    overflow-y: scroll;

    p {
      margin: 0;
      padding: 0;
      line-height: 40px;
      padding: 0 24px;
      min-width: 150px;

      &:hover {
        background: $light-gray-1;
      }
    }
  }
}
