.tiny-heading {
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 100;
  margin: 0 0 $base-space 0;
}

.small-heading {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 0 $base-space 0;
}

.medium-heading {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 0 $base-space 0;
}

.large-heading {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 0 $base-space 0;
}

.huge-heading {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 0 $base-space 0;
}

.mono-body-text {
  font-family: $mono-font;
  font-size: 14px;
  font-weight: normal;
}

.body-text {
  font-size: 14px;
  font-family: $body-font;
  font-weight: normal;
}

.field-label {
  font-family: $body-font;
  font-size: 10px;
  font-weight: bold;
  color: $gray;
}
