.pane {
  width: 100%;
  position: relative;
  border-bottom: 1px solid var(--border-color-more);
}



.dialog {
  z-index: 99999;
  position: fixed;
  width: 260px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 20px 50px 10px rgb(0 0 0 /0.25);
  background: var(--bg-color);
  color: var(--fg-color);
}

@media (prefers-color-scheme: dark) {
  .dialog::backdrop {
    opacity: 0.8;
  }

  .dialog {
    border: 1px solid var(--border-color);
  }
}

.tooltip {
  position: absolute;
  top: 0;
  left: 0;
}

.colorKey {
  display: inline-block;
  padding: 1px 6px;
  border-radius: 4px;
  min-width: 60px;
}

.errorContainer {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.errorMessage {
  text-align: center;
  opacity: 0.5;
}

.graphic {
  user-select: none;
  color: var(--fg-color);
}

.graphic :global(.domain),
.graphic line {
  stroke: var(--border-color);
}

div.toolbar {
  position: absolute;
  width: 100%;
  background-color: transparent;
  border-bottom: none;
  height: auto;
  margin-top: 2px;
  gap: 4px;
  justify-content: end;
}

.title {
  font-size: 0.7rem;
  color: var(--fg-color-less);
  /* color: var(--border-color); */
}
