.footer {
    height: 2.625rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
    gap: 1rem;
    z-index: 1;
}

.label {
    text-transform: none;
    letter-spacing: normal;
    font-weight: normal;
    font-size: 0.8rem;
}

.footer [aria-pressed=true] .label {
    font-weight: bold;
}

.counts {
    font-family: var(--mono-font);
    display: flex;
    white-space: nowrap;
    gap: 1.5rem;
}
