.toolbar {
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.left,
.right {
    display: flex;
    align-items: center;
}

.toolbar nav {
    display: flex;
}

.right nav {
    gap: 6px;
}

.toolbar h1 {
    font-size: 1rem;
    padding: 0 1rem;
}
