.toolbar {
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    gap: 6px;
    min-inline-size: 0;
}

.toolbar h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.left,
.right {
    display: flex;
    align-items: center;
}

.toolbar nav {
    display: flex;
}

.right nav {
    gap: 6px;
}

.left {
    flex: 1;
    gap: 6px;
}

.toolbar h1 {
    font-size: 1rem;
}

.form {
    flex: 1;
    width: 100%;
    display: flex;
    gap: 6px;
}

.input {
    background: transparent;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    border-radius: 0;
    border: none;
    border-bottom: 1px dashed var(--border-color);
    background: var(--emphasis-bg);
    outline: none;
    padding: 0 6px;
    max-width: 400px;
}

.input:focus-visible {
    outline: none;
}

.untitled {
    opacity: 0.3;
}

.modified {
    font-style: italic;
}

.outdated {
    display: flex;
    background: var(--emphasis-bg-more);
    border-radius: 6px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.66rem;
    padding: 0 0.5rem;
    color: var(--fg-color-less);
}

.button {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    cursor: text
}
