:root {
  // colors
  --red: #cd1313;
  --green: #399c81;
  --green-bright: #4ef567;
  --orange: #ff7f00;
  --yellow: #ffc933;
  --azure: #2f629c;
  --cello: hsl(212, 100%, 14%);
  --cello-transparent: hsla(212, 100%, 14%, 0.92);
  --havelock: #4b91e2;
  --hawkes-blue: rgba(206, 228, 253, 0.5);
  --pecan: #9c692f;

  // shades of gray
  --snow: #fcfcfd;
  --coconut: #f7f7f8;
  --ivory: #f3f3f4;
  --cloudy: #e2e6e9;
  --lead: #abadaf;
  --slate: #717375;
  --wet-cement: #4c5661;
  --aqua: #0f1e2e;
  --aqua-transparent: rgba(15, 30, 46, 0.2);

  // alert severities
  --alert-3: #fbc00e;
  --alert-2: #f4912f;
  --alert-1: #d0250b;

  // backgrounds
  --hover-light-bg: rgba(0, 0, 0, 0.06);
  --table-stripe-bg: rgba(0, 0, 0, 0.02);

  // borders

  // Colors by name

  --input-background: hsl(240, 15%, 92%);

  --sidebar-background: hsl(212, 15%, 89%);
  --sidebar-item-hover: hsl(212, 15%, 85%);
  --sidebar-item-active: hsl(212, 15%, 83%);

  --tab-background: hsl(212, 15%, 94%);
  --tab-background-hover: hsl(212, 15%, 97%);

  --primary-color: hsl(212, 72%, 59%);
  --primary-color-dark: hsl(212, 72%, 53%);
  --primary-color-darker: hsl(212, 72%, 48%);

  --foreground-color: var(--aqua);

  --button-background: #f2f2f3;
  --button-background-hover: #ececee;
  --button-background-active: #e5e5e7;

  --editor-background: hsl(212, 3%, 95%);

  --border-color: hsl(216, 10%, 80%);
}
