$white-7: darken(white, 22%);
$white-8: darken(white, 26%);
$white-9: darken(white, 30%);

$gray-base: #545866;
$gray-1: lighten($gray-base, 20%);
$gray-2: lighten($gray-base, 15%);
$gray-3: lighten($gray-base, 10%);
$gray-4: lighten($gray-base, 5%);
$gray-5: $gray-base;
$gray-6: darken($gray-base, 5%);
$gray-7: darken($gray-base, 10%);
$gray-8: darken($gray-base, 15%);
$gray-9: darken($gray-base, 20%);

$brand-blue-light: #3a79c2;
$brand-blue: #2f619c;
$brand-orange: #ea6842;

$blue-light: lighten(#1da0f2, 15%);
$blue: #1da0f2;
$blue-dark: darken(#1da0f2, 15%);

$yellow-light: lighten(#ffdd66, 15%);
$yellow: #ffdd66;
$yellow-dark: darken(#ffdd66, 15%);

$green-light: lighten(#399c81, 15%);
$green: #399c81;
$green-dark: darken(#399c81, 15%);

$red: #e65835;

$red-light: lighten($red, 15%);
$red-dark: darken($red, 15%);

$pink: #ad3f95;

$purple: #544aa6;
$orange: #eeb457;

$azure: #2f629c;
$cello: #324862;
$havelock: #4b91e2;
$pecan: #9c692f;

$snow: #fdfcfb;
$coconut: #f8f7f6;
$ivory: #f2f1f0;
$cloudy: #dedddc;
$lead: #aeadac;
$slate: #757371;
$aqua: #262524;
$wet-cement: #4c5661;
$transparent-light: rgba(255, 255, 255, 0.2);

// Color Uses

$filter-node-background: $green;
$filter-node-foreground: white;
$table-stripe-color: rgba(0, 0, 0, 0.02);
$table-stripe-hover: rgba(0, 0, 0, 0.06);

// Gradients

$chrome-gradient: linear-gradient(to bottom, #f0f0f0, #eeedec);
$gray-to-white: linear-gradient(#f0f0f0, white);

:root {
  // colors
  --red: #cd1313;
  --green: #399c81;
  --green-bright: #4ef567;
  --azure: #2f629c;
  --cello: #324862;
  --havelock: #4b91e2;
  --pecan: #9c692f;

  // shades of gray
  --snow: #FCFCFC;
  --coconut: #F7F7F8;
  --ivory: #F0F2F5;
  --cloudy: #E2E6E9;
  --lead: #ABADAF;
  --slate: #717375;
  --aqua: #242526;
  --wet-cement: #4c5661;

  --chrome-gradient: linear-gradient(to bottom, #f0f0f0, #eeedec);
  --error-gradient: linear-gradient(to bottom right, #f8eee3, #fae1e0);

  // type colors
  --ip: #4a90e2;
  --port: #e3971c;
  --interval: #544aa6;
  --count: #e65835;
  --bool: #3eaef4;

  // alert severities
  --alert-3: #fbc00e;
  --alert-2: #f4912f;
  --alert-1: #d0250b;

  // hover states
  --hover-light-bg: rgba(0, 0, 0, 0.06);

  // border
  --pane-border: var(--cloudy)
}
