$blue-1: #95b2d5;
$blue-2: #6388b6;
$blue-3: #416b9c;
$blue-4: #29578d;
$blue-5: #173866;

$yellow-1: #ffeeb5;
$yellow-2: #ffe58a;
$yellow-3: #ffdd66;
$yellow-4: #e4bf3e;
$yellow-5: #ba961a;

$green-1: #86c8b7;
$green-2: #5bb69d;
$green-3: #399c81;
$green-4: #228c6f;
$green-5: #0f7156;

$gray-1: #6b7481;
$gray-2: #4e5865;
$gray-3: #353d48;
$gray-4: #1e2732;
$gray-5: #141e2d;

$light-gray-1: #fafaf9;
$light-gray-2: #f5f5f5;
$light-gray-3: #e4e4e4;
$light-gray-4: #9f9f9f;

$pink: #ad3f95;
$off-white: #f5f5f5;
$light-gray: #dedede;
$gray: #b3b3b3;
$dark-gray: #636363;
$blue: #4a90e2;
$light-blue: lighten($blue, 15%);
$green: #70bf41;
$yellow: #ffff8f;
$red: #d0021b;
$purple: #544aa6;
$orange: #eeb457;
$teal: #628f96;
$light-teal: #dfedf0;
$light-green: #50e3c2;

$filter-node-background: $green-3;
$filter-node-foreground: white;

$gray-warm-1: #332d28;
$gray-warm-2: #665d54;
$gray-warm-3: #948b82;
$gray-warm-4: #bfbab4;
$gray-warm-5: #dfe0e6;

$gray-cold-1: #282a33;
$gray-cold-2: #545866;
$gray-cold-3: #828694;
$gray-cold-5: #f5f5f7;
$gray-cold-4: #c5c7d1;

$white-20: rgba(255, 255, 255, 0.2);
$black-20: rgba(0, 0, 0, 0.2);

$accent-blue: #416b9c;

$table-stripe-color: darken(white, 2%);
$table-stripe-hover: darken(white, 6%);
