
$green-light: lighten(#399c81, 15%);
$green: #399c81;
$green-dark: darken(#399c81, 15%);
$red: #e65835;
$red-light: lighten($red, 15%);
$red-dark: darken($red, 15%);
$pink: #ad3f95;
$purple: #544aa6;
$orange: #eeb457;

// Color Uses
$filter-node-background: $green;
$filter-node-foreground: white;
$table-stripe-color: rgba(0, 0, 0, 0.02);
$table-stripe-hover: rgba(0, 0, 0, 0.06);

// Gradients

$chrome-gradient: linear-gradient(to bottom, #f0f0f0, #eeedec);
$gray-to-white: linear-gradient(#f0f0f0, white);

:root {
  // colors
  --red: #cd1313;
  --green: #399c81;
  --green-bright: #4ef567;
  --orange: #ea6842;
  --yellow: #ffdd66;
  --azure: #2f629c;
  --cello: hsl(213, 32%, 29%);
  --cello-transparent: hsla(213, 32%, 29%, 0.92);
  --havelock: #4b91e2;
  --pecan: #9c692f;

  // shades of gray
  --snow: #FCFCFC;
  --coconut: #F7F7F8;
  --ivory: #F0F2F5;
  --cloudy: #E2E6E9;
  --lead: #ABADAF;
  --slate: #717375;
  --wet-cement: #4c5661;
  --aqua: #242526;

  --chrome-gradient: linear-gradient(to bottom, #f0f0f0, #eeedec);
  --error-gradient: linear-gradient(to bottom right, #f8eee3, #fae1e0);

  // type colors
  --ip: #4a90e2;
  --port: #e3971c;
  --interval: #544aa6;
  --count: #e65835;
  --bool: #3eaef4;

  // alert severities
  --alert-3: #fbc00e;
  --alert-2: #f4912f;
  --alert-1: #d0250b;

  // hover states
  --hover-light-bg: rgba(0, 0, 0, 0.06);

  // border
  --pane-border: var(--cloudy)
}
