$white-1: white;
$white-2: darken(white, 2%);
$white-3: darken(white, 6%);
$white-4: darken(white, 10%);
$white-5: darken(white, 14%);
$white-6: darken(white, 18%);
$white-7: darken(white, 22%);
$white-8: darken(white, 26%);
$white-9: darken(white, 30%);

$gray-base: #545866;
$gray-1: lighten($gray-base, 20%);
$gray-2: lighten($gray-base, 15%);
$gray-3: lighten($gray-base, 10%);
$gray-4: lighten($gray-base, 5%);
$gray-5: $gray-base;
$gray-6: darken($gray-base, 5%);
$gray-7: darken($gray-base, 10%);
$gray-8: darken($gray-base, 15%);
$gray-9: darken($gray-base, 20%);

$blue-2: #6388b6;
$blue: #4a90e2;
$light-blue: lighten($blue, 15%);
$blue-3: #416b9c;
$accent-blue: #416b9c;
$blue-4: #29578d;
$blue-5: #173866;

$yellow-3: #ffdd66;
$yellow-4: #e4bf3e;
$yellow-5: #ba961a;

$green-2: #5bb69d;
$green-3: #399c81;
$green-4: #228c6f;
$green-5: #0f7156;

$pink: #ad3f95;
$red: #d0021b;
$purple: #544aa6;
$orange: #eeb457;

$white-20: rgba(255, 255, 255, 0.2);
$black-20: rgba(0, 0, 0, 0.2);

// Color Uses

$filter-node-background: $green-3;
$filter-node-foreground: $white-1;
$table-stripe-color: $white-2;
$table-stripe-hover: $white-3;
