@font-face {
  font-family: "Recursive";
  src: url(../static/fonts/recursive.woff2) format("woff2-variations");
  font-style: oblique 0deg 15deg;
  font-weight: 300 1000;
  font-display: block;
}

$heading-font: system-ui, sans-serif;
$body-font: system-ui, sans-serif;
$menu-font: system-ui, sans-serif;

// Don't use these anymore
$font-size-1: 0.7rem;
$font-size-2: 0.85rem;
$font-size-3: 1rem;
$font-size-4: 1.25rem;
$line-height-2: 1.125rem;

:root {
  --mono-font: "Recursive";
  --body-font: "system-ui";

  /* Recursive settings */
  --mono: "MONO" 1;
  /* Monospace: Sans (natural-width) or Mono (fixed-width) */

  --casl: "CASL" 0;
  /* Casual: Linear to Casual */
  --slnt: "slnt" 0;

  /* Slant: 0 to -15 degrees, auto cursive at -14 */
  --CRSV: "CRSV" 0.5;
  // off  auto  on
  /* Cursive: always roman, auto substitution, or always cursive */
  font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt),
    var(--CRSV);
}
