@mixin toolbar-button-style {
  background: linear-gradient(#ffffff, 0.5px, #fefefe 2px, #f6f6f6);
  &:active:not(:disabled) {
    background: linear-gradient(#fefefe, 0.5px, #f3f3f3 2px);
  }
  border: none;
  box-shadow: inset 0 0 0 0.5px rgba(0, 0, 0, 0.1),
    0 0.5px 0 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
