{
  "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-flow"],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "source-map-support",
    "inline-react-svg"
  ],
  "ignore": ["src/js/flow-typed"]
}
