{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "paths": {
      "src/*": ["src/*"]
    },
    "baseUrl": "./",
    "target": "es2020"
  },
  "module": {
    "type": "commonjs",
    "ignoreDynamic": true
  }

}
