.pane {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.settingsButton {
  position: absolute;
  top: 16px;
  right: 16px;
}

.settingsDialog {
  z-index: 9999;
  width: 300px;
}
