.pane {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.settingsButton {
  position: absolute;
  top: 16px;
  right: 16px;
}

.dialog {
  z-index: 99999;
  position: fixed;
  width: 180px;
  border: none;
  border-radius: 8px;
  box-shadow: var(--shadow-elevation-medium);
  background: white;
}

.settingsForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tooltip {
  position: absolute;
  top: 0;
}
