@mixin type-colors {
  &.addr,
  &.set\[addr\] {
    color: var(--ip);
  }

  &.port,
  &.set\[port\] {
    color: var(--port);
  }

  &.interval,
  &.set\[interval\] {
    color: var(--interval);
  }

  &.count,
  &.set\[count\] {
    color: var(--count);
  }

  &.bool,
  &.set\[bool\] {
    color: var(--blue);
  }

  &.null {
    color: var(--lead);
  }
}
