@mixin heading-section {
  font-family: system-ui;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@mixin heading-list {
  font-family: system-ui;
  font-weight: 700;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@mixin label-bold {
  font-family: system-ui;
  letter-spacing: -0.08px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
}

@mixin label-normal {
  font-family: system-ui;
  letter-spacing: -0.08px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

@mixin label-small {
  font-family: system-ui;
  letter-spacing: -0.08px;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
}

@mixin label-small-bold {
  font-family: system-ui;
  letter-spacing: 0.07px;
  font-size: 11px;
  line-height: 17px;
  font-weight: 700;
}

@mixin heading-1 {
  font-family: system-ui;
  font-size: 24px;
  font-weight: bold;
}

@mixin heading-2 {
  font-family: system-ui;
  font-weight: bold;
  font-size: 16px;
}

.paragraph {
  @include label-normal;
  margin: 0;
}

.mono {
  font-family: $mono-font;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.code {
  display: inline-block;
  font-family: $mono-font;
  font-size: 12px;
  line-height: 14px;
  padding: 3px 6px;
  margin: 0;

  &.full {
    width: 100%;
  }

  &.light {
    background-color: rgba(0, 0, 0, 0.04);
    box-shadow: inset 0px 0px 2px 0 rgba(0, 0, 0, 0.1);
    padding: 12px 24px;
  }
}

.fieldset {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  margin: 0;
  font-family: $body-font;
}

.subscript {
  font-family: $body-font;
  font-size: 9px;
  font-weight: normal;
  line-height: 11px;
  margin: 0;
}

.stats {
  font-family: $data-font;
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
}

.label {
  font-family: $body-font;
  font-size: 0.625rem;
  line-height: 15px;
  font-weight: normal;
  margin: 0;
}

.link {
  font-family: $body-font;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  text-decoration: underline;
  cursor: pointer;

  color: $blue;

  &:hover {
    color: darken($blue, 20%);
  }

  &:active {
    color: darken($blue, 30%);
  }

  &.yellow {
    color: $yellow;

    &:hover {
      color: $yellow-dark;
    }
    &:active {
      color: $yellow;
    }
  }
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.link-button {
  font-size: 11px;
  text-transform: uppercase;
  padding: $space-xxs $space-xs;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  transform: translateY(0px);
  user-select: none;
  text-align: center;

  &:hover {
    transition: background-color 100ms;
    background: rgba(255, 255, 255, 0.1);
  }

  &:active {
    background: rgba(255, 255, 255, 0.2);
    transform: translateY(2px);
  }
}

.white-1 {
  color: $white-1;
}
.white-2 {
  color: $white-2;
}
.white-3 {
  color: $white-3;
}
.white-4 {
  color: $white-4;
}
.white-5 {
  color: $white-5;
}
.white-6 {
  color: $white-6;
}
.white-7 {
  color: $white-7;
}
.white-8 {
  color: $white-8;
}
.white-9 {
  color: $white-9;
}
.gray-1 {
  color: $gray-1;
}
.gray-2 {
  color: $gray-2;
}
.gray-3 {
  color: $gray-3;
}
.gray-4 {
  color: $gray-4;
}
.gray-5 {
  color: $gray-5;
}
.gray-6 {
  color: $gray-6;
}
.gray-7 {
  color: $gray-7;
}
.gray-8 {
  color: $gray-8;
}
.gray-9 {
  color: $gray-9;
}
