@mixin type-colors {
  &.string,
  &.set\[string\] {
    color: $gray-3;
  }

  &.addr,
  &.set\[addr\] {
    color: $blue;
  }

  &.port,
  &.set\[port\] {
    color: $orange;
  }

  &.interval,
  &.set\[interval\] {
    color: $purple;
  }

  &.count,
  &.set\[count\] {
    color: $red;
  }

  &.bool,
  &.set\[bool\] {
    color: $light-blue;
  }
}
