.zed-key {
  color: var(--cello);
}

.zed-ip {
  color: var(--ip);
}

.zed-duration {
  color: var(--interval);
}

.zed-uint8,
.zed-uint16,
.zed-uint32,
.zed-uint64,
.zed-int8,
.zed-int16,
.zed-int32,
.zed-int64 {
  color: var(--count);
}

.zed-bool {
  color: var(--bool);
}

.zed-float64 {
  color: var(--count);
}

.zed-null {
  color: var(--cloudy);
}

.zed-time {
  color: var(--interval);
}
