@mixin zeek-bg-color($log-type, $color) {
  .#{$log-type}-bg-color {
    background-color: $color;
    fill: $color;
  }
}

$unknown-type-color: #afafaf;
[class*="-bg-color"] {
  background: $unknown-type-color;
  fill: $unknown-type-color;
}

@include zeek-bg-color("conn", #86c8b7);
@include zeek-bg-color("dhcp", #00578a);
@include zeek-bg-color("dns", $blue-3);
@include zeek-bg-color("ftp", #392277);
@include zeek-bg-color("http", $yellow-4);
@include zeek-bg-color("files", #ad3f95);
@include zeek-bg-color("mysql", #d28204);
@include zeek-bg-color("irc", #00d1a6);
@include zeek-bg-color("radius", #ffd901);
@include zeek-bg-color("kerberos", #fbf758);
@include zeek-bg-color("sip", #006c7b);
@include zeek-bg-color("smtp", #e2e317);
@include zeek-bg-color("ssl", $gray-9);
@include zeek-bg-color("ssh", $gray-9);
@include zeek-bg-color("syslog", #ddb81d);
@include zeek-bg-color("tunnel", #007249);
@include zeek-bg-color("dce_rpc", #929292);
@include zeek-bg-color("ntlm", #6284a4);
@include zeek-bg-color("rdp", #081d5b);
@include zeek-bg-color("smb_files", #27eeff);
@include zeek-bg-color("smb_mapping", #0511d4);
@include zeek-bg-color("weird", $gray-4);
@include zeek-bg-color("x509", $orange);
@include zeek-bg-color("pe", $red);
@include zeek-bg-color("dpd", $green-5);
