.dropzone {
    position: relative;    
}

.overlay {
    width: 100%;
    height: 100%;
    z-index: 3;
    background: var(--orange);
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: 250ms fade-opacity;
}

.message {
    
}

.title {
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: white;
    opacity: 0;
    padding: 3rem;
    animation: 
        700ms popup cubic-bezier(0.16, 1, 0.3, 1) forwards, 
        300ms fade-opacity ease-in forwards;
}

.title em {
    font-style: normal;
    color: var(--foreground-color);
}

.hair {
    position: absolute;
    width: 3rem;
    height: 3rem;
    margin: 0;
    animation: 700ms margin-in cubic-bezier(0.16, 1, 0.3, 1) forwards
    
}

.hair div:first-child {
    border-top: 1px solid white;
    border-left: 1px solid white;
    height: 100%;
    width: 100%;
}

.hair div:last-child {
    height: 0.5rem;
    width: 0.5rem;
    background: white;
    border-radius: 50%;
    top: -1rem;
    left: -1rem;
    position: absolute;
}

.hair:nth-child(1) {
    top: 0;
    left: 0;
}

.hair:nth-child(2) {
    top: 0;
    right: 0;
    transform: rotateZ(90deg);
}

.hair:nth-child(3) {
    bottom: 0;
    right: 0;
    transform: rotateZ(180deg);
}

.hair:nth-child(4) {
    bottom: 0;
    left: 0;
    transform: rotateZ(270deg);
}

@keyframes fade-opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes popup {
    from {
        transform: translateY(300px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes margin-in {
    from {
        margin: 0;
    } 
    to {
        margin: 10vmin;
    }
}
