.dropzone {
    position: relative;
}

.overlay {
    width: 100vw;
    height: 100vh;
    max-width: none;
    max-height: none;
    border: none;
    background: var(--orange);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: 250ms fade-opacity;
}

.message {
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
    animation:
        700ms popup cubic-bezier(0.16, 1, 0.3, 1) forwards,
        300ms fade-opacity ease-in forwards;
}

.title {
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: white;

    margin: 0;
}

.title em {
    font-style: normal;
    color: var(--fg-color);
}

.note {
    color: white;
    text-align: center;
    font-size: 1.3rem;
    margin: 0;
    font-weight: 300
}

.note b {
    font-family: var(--mono-font);
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    padding: 0 0.4em;
    border-radius: 3px;
    margin: 0 0.2em;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: 500;
    letter-spacing: 1px;
    ;

}

.hair {
    position: absolute;
    width: 3rem;
    height: 3rem;
    margin: 0;
    animation: 700ms margin-in cubic-bezier(0.16, 1, 0.3, 1) forwards
}

.hair div:first-child {
    border-top: 1px solid white;
    border-left: 1px solid white;
    height: 100%;
    width: 100%;
}

.hair div:last-child {
    height: 0.5rem;
    width: 0.5rem;
    background: white;
    border-radius: 50%;
    top: -1rem;
    left: -1rem;
    position: absolute;
}

.hair:nth-child(1) {
    top: 0;
    left: 0;
}

.hair:nth-child(2) {
    top: 0;
    right: 0;
    transform: rotateZ(90deg);
}

.hair:nth-child(3) {
    bottom: 0;
    right: 0;
    transform: rotateZ(180deg);
}

.hair:nth-child(4) {
    bottom: 0;
    left: 0;
    transform: rotateZ(270deg);
}

@keyframes fade-opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes popup {
    from {
        transform: translateY(300px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes margin-in {
    from {
        margin: 0;
    }

    to {
        margin: 10vmin;
    }
}
