:root {
  // colors
  --red: #F13737;
  --green: #399c81;
  --orange: #ff7f00;
  --yellow: #ffc933;
  --blue: hsl(212, 72%, 59%);


  --wet-cement: #4c5661;
  --aqua: #0f1e2e;
  --aqua-transparent: rgba(15, 30, 46, 0.2);

  // alert severities
  --alert-3: #fbc00e;
  --alert-2: #f4912f;
  --alert-1: #d0250b;

  // backgrounds
  --emphasis-bg-less: rgba(0, 0, 0, 0.03);
  --emphasis-bg: rgba(0, 0, 0, 0.06);
  --emphasis-bg-more: rgba(0, 0, 0, 0.09);

  --table-stripe-bg: rgba(0, 0, 0, 0.02);

  // borders

  // Colors by name

  --success-color: #1ADB91;
  --error-color: #F13737;

  --input-background: hsl(240, 15%, 92%);

  --primary-color-lighter: hsl(212, 89%, 82%);
  --primary-color-light: hsl(212, 72%, 69%);
  --primary-color: hsl(212, 72%, 59%);
  --primary-color-dark: hsl(212, 78%, 50%);
  --primary-color-darker: hsl(212, 88%, 35%);

  --button-background: hsl(212, 5%, 92%);
  --button-background-hover: hsl(212, 5%, 90%);
  --button-background-active: hsl(212, 5%, 87%);

  --editor-background: white;
  // Form stuff

  --form-font-size: 14px;
  --form-line-height: 20px;
  --form-border-radius: 6px;
  --form-padding: 3px 10px;
  --form-height: 2rem;
  --form-field-gap: 12px;

  --shadow-small: 0px 0px 3px 0px rgb(0 0 0 / 30%);

  // Easing
  --pop-easing: cubic-bezier(0.16, 1, 0.3, 1);
}

/**
 * FOREGROUND & BACKGROUND
 */
:root {
  --fg-color: #0f1e2e;
  --fg-color-less: hsl(210, 4%, 40%);
  --bg-color: white;

  @media (prefers-color-scheme: dark) {
    --fg-color: white;
    --fg-color-less: rgba(255, 255, 255, 0.7);
    --bg-color: hsl(44deg 8% 10%);
  }
}


/**
 * Emphasis
 */
:root {
  --emphasis-bg-less: rgba(0, 0, 0, 0.03);
  --emphasis-bg: rgba(0, 0, 0, 0.06);
  --emphasis-bg-more: rgba(0, 0, 0, 0.09);
  --emphasis-bg-most: rgba(0, 0, 0, 0.11);

  @media (prefers-color-scheme: dark) {
    --emphasis-bg-less: rgba(255, 255, 255, 0.05);
    --emphasis-bg: rgba(255, 255, 255, 0.15);
    --emphasis-bg-more: rgba(255, 255, 255, 0.2);
    --emphasis-bg-most: rgba(255, 255, 255, 0.3);
  }
}

/**
 * Selection
 */
:root {
  --selected-bg: var(--fg-color);
  --selected-bg-active: var(--emphasis-bg);

  @media (prefers-color-scheme: dark) {
    --selected-bg: rgba(255, 255, 255, 0.2);
    --selected-bg-active: rgba(255, 255, 255, 0.25);
  }
}

/**
 * Borders
 */
:root {
  --border-color: hsl(216, 10%, 87%);
  --border-color-more: hsl(216, 10%, 80%);

  @media (prefers-color-scheme: dark) {
    --border-color: rgba(255, 255, 255, 0.3);
    --border-color-more: rgba(255, 255, 255, 0.5);
  }
}

/**
 * Chrome / Grays
 */

:root {
  @media (prefers-color-scheme: dark) {
    --chrome-bg: rgba(255, 255, 255, 0.15);
    --chrome-bg-more: #E9EAEB;
  }
}

/**
 * Form Input Colors
 */
:root {
  --form-bg-color: white;
  --form-bg-color-dark: #f8f8f8;
  --form-bg-color-darker: #e6e6e6;
  --form-border: 1px solid #c0c0c0;

  @media (prefers-color-scheme: dark) {
    --form-bg-color: var(--emphasis-bg-less);
    --form-bg-color-dark: var(--emphasis-bg);
    --form-bg-color-darker: var(--emphasis-bg-more);
  }
}
