:root {
  // colors
  --red: #cd1313;
  --green: #399c81;
  --green-bright: #4ef567;
  --orange: #ff7f00;
  --yellow: #ffc933;
  --azure: #2f629c;
  --cello: hsl(212, 100%, 14%);
  --cello-transparent: hsla(212, 100%, 14%, 0.92);
  --havelock: #4b91e2;
  --hawkes-blue: rgba(206, 228, 253, 0.5);
  --pecan: #9c692f;

  // shades of gray
  --snow: #fcfcfd;
  --coconut: #f7f7f8;
  --ivory: #f3f3f4;
  --cloudy: #e2e6e9;
  --lead: #abadaf;
  --slate: #717375;
  --wet-cement: #4c5661;
  --aqua: #0f1e2e;
  --aqua-transparent: rgba(15, 30, 46, 0.2);

  // alert severities
  --alert-3: #fbc00e;
  --alert-2: #f4912f;
  --alert-1: #d0250b;

  // backgrounds
  --hover-dark: rgba(0, 0, 0, 0.04);
  --active-dark: rgba(0, 0, 0, 0.06);

  --hover-light-bg: var(--hover-dark);
  --table-stripe-bg: rgba(0, 0, 0, 0.02);

  // borders

  // Colors by name

  --input-background: hsl(240, 15%, 92%);

  --sidebar-background: hsl(212, 8%, 85%);
  --sidebar-item-hover: hsl(200deg 6% 80%);
  --sidebar-item-active: hsl(200deg 6% 76%);
  --sidebar-item-active-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);

  --tab-background: var(--sidebar-background);
  --tab-background-hover: rgba(0, 0, 0, 0.1);

  --primary-color-lighter: hsl(212, 89%, 82%);
  --primary-color-light: hsl(212, 72%, 69%);
  --primary-color: hsl(212, 72%, 59%);
  --primary-color-dark: hsl(212, 86%, 33%);
  --primary-color-darker: hsl(212, 95%, 23%);

  --foreground-color-dark: #000811;
  --foreground-color: #0f1e2e;
  --foreground-color-light: hsl(212, 7%, 46%);

  --button-background: hsl(212, 5%, 92%);
  --button-background-hover: hsl(212, 5%, 90%);
  --button-background-active: hsl(212, 5%, 87%);

  --editor-background: white;

  --border-color: hsl(216, 10%, 87%);
  --border-color-dark: hsl(216, 10%, 80%);

  --chrome-color: hsl(212, 10%, 97%);
  --chrome-color-dark: #E9EAEB;

  // Form stuff
  --form-bg-color: white;
  --form-bg-color-dark: #f8f8f8;
  --form-bg-color-darker: #e6e6e6;
  --form-border: 1px solid #c0c0c0;
  --form-font-size: 14px;
  --form-line-height: 20px;
  --form-border-radius: 6px;
  --form-padding: 3px 10px;
  --form-height: 2rem;
  --form-field-gap: 10px;
}
