/**
 * Constants
 */
:root {
  /* Colors */
  --red: #F13737;
  --green: #1ADB91;
  --orange: #ff7f00;
  --yellow: #ffc933;
  --blue: hsl(212, 72%, 59%);

  /* Forms */
  --form-font-size: 14px;
  --form-line-height: 20px;
  --form-border-radius: 6px;
  --form-padding: 3px 10px;
  --form-height: 2rem;
  --form-field-gap: 12px;

  /*  Easings */
  --pop-easing: cubic-bezier(0.16, 1, 0.3, 1);
  --quick: 150ms;
  --medium: 300ms;
  --slow: 450ms;

  --measure: 45ch;
}

/**
 * Foregrounds & Backgrounds
 */
:root {
  --fg-color: #0f1e2e;
  --fg-color-less: hsl(210, 4%, 40%);
  --bg-color: white;
  --window-color: #F3F3F3;


  @media (prefers-color-scheme: dark) {
    --fg-color: white;
    --fg-color-less: rgba(255, 255, 255, 0.7);
    --bg-color: hsl(44deg 8% 10%);
    --window-color: #303231;
  }
}

/**
 * Chrome / Grays
 */
:root {
  --chrome-color: hsl(212, 10%, 97%);
  --chrome-color-more: #E9EAEB;

  @media (prefers-color-scheme: dark) {
    --chrome-color: rgba(255, 255, 255, 0.15);
    --chrome-color-more: rgba(255, 255, 255, 0.4);
  }
}

/**
 * Primary Color Variations
 */
:root {
  --primary-color-lighter: hsl(212, 89%, 82%);
  --primary-color-light: hsl(212, 72%, 69%);
  --primary-color: hsl(212, 72%, 59%);
  --primary-color-dark: hsl(212, 78%, 50%);
  --primary-color-darker: hsl(212, 88%, 35%);
}

/**
 * Emphasis
 */
:root {
  --emphasis-bg-less: rgba(0, 0, 0, 0.03);
  --emphasis-bg: rgba(0, 0, 0, 0.06);
  --emphasis-bg-more: rgba(0, 0, 0, 0.09);
  --emphasis-bg-most: rgba(0, 0, 0, 0.11);

  @media (prefers-color-scheme: dark) {
    --emphasis-bg-less: rgba(255, 255, 255, 0.05);
    --emphasis-bg: rgba(255, 255, 255, 0.15);
    --emphasis-bg-more: rgba(255, 255, 255, 0.2);
    --emphasis-bg-most: rgba(255, 255, 255, 0.3);
  }
}

/**
 * Borders
 */
:root {
  --border-color: hsl(216, 10%, 87%);
  --border-color-more: hsl(216, 10%, 80%);

  @media (prefers-color-scheme: dark) {
    --border-color: rgba(255, 255, 255, 0.3);
    --border-color-more: rgba(255, 255, 255, 0.5);
  }
}

/**
 * Statuses
 */
:root {
  --success-color: var(--green);
  --error-color: var(--red);
  --info-color: var(--blue);
}

/**
 * Buttons
 */
:root {
  --button-background: hsl(212, 5%, 92%);
  --button-background-hover: hsl(212, 5%, 90%);
  --button-background-active: hsl(212, 5%, 87%);
}

/**
 * Form Inputs
 */
:root {
  --editor-background: white;
  --input-background: hsl(240, 15%, 92%);
  --form-bg-color: white;
  --form-bg-color-dark: #f8f8f8;
  --form-bg-color-darker: #e6e6e6;
  --form-border: 1px solid var(--border-color);

  @media (prefers-color-scheme: dark) {
    --form-bg-color: var(--emphasis-bg);
    --form-bg-color-dark: var(--emphasis-bg-more);
    --form-bg-color-darker: var(--emphasis-bg-more);
  }
}

/**
 * Shadows
 */
:root {
  --shadow-small: 0px 0px 3px 0px rgb(0 0 0 / 30%);
  --shadow-medium: 0px 3px 3px 6px rgb(0 0 0 / 30%);
}



/**
 * Selection
 */
:root {
  --selected-bg: white;
  --selected-bg-active: hsl(0deg, 0%, 95%);

  @media (prefers-color-scheme: dark) {
    --selected-bg: rgba(255, 255, 255, 0.2);
    --selected-bg-active: rgba(255, 255, 255, 0.25);
  }
}

/**
 * Tables
 */
:root {
  --table-stripe-bg: rgba(0, 0, 0, 0.02);

  @media (prefers-color-scheme: dark) {
    --table-stripe-bg: rgba(255, 255, 255, 0.01);
  }
}
