.gutter {
  padding-inline: var(--gutter-space);
}

.gutter-block {
  padding-block: var(--gutter-space);
}

.half-gutter {
  --gutter-space: var(--half-gutter);
}

.gutter-inline-end {
  padding-inline-end: var(--gutter);
}

.gutter-inline-start {
  padding-inline-start: var(--gutter);
}
