.ingest-warnings-modal {
  max-width: 90%;
  width: 800px;

  .text-content {
    display: flex;
    flex-direction: column;
    min-height: 0;
    & > * {
      flex-shrink: 0;
    }

    pre.output {
      min-height: 0;
      flex: 1;
      overflow: auto;
    }
  }
}
