[class^="stack"] {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

[class^="stack"] > * {
  margin-block: 0;
}

.stack--5 > * + * {
  margin-block-start: var(--s-5);
}

.stack--4 > * + * {
  margin-block-start: var(--s-4);
}

.stack--3 > * + * {
  margin-block-start: var(--s-3);
}

.stack--2 > * + * {
  margin-block-start: var(--s-2);
}

.stack--1 > * + * {
  margin-block-start: var(--s-1);
}

.stack-0 > * + * {
  margin-block-start: var(--s0);
}

.stack-1 > * + * {
  margin-block-start: var(--s1);
}

.stack-2 > * + * {
  margin-block-start: var(--s2);
}

.stack-3 > * + * {
  margin-block-start: var(--s3);
}

.stack-4 > * + * {
  margin-block-start: var(--s4);
}

.stack-5 > * + * {
  margin-block-start: var(--s5);
}

.stack-6 > * + * {
  margin-block-start: var(--s6);
}

.stack-7 > * + * {
  margin-block-start: var(--s7);
}

.stack-8 > * + * {
  margin-block-start: var(--s8);
}

.box-s {
  padding: var(--s1);
}

.box-1 {
  padding: var(--s1);
}

.center {
  margin-inline: auto;
}

.flex {
  display: flex;
}

.with-popover {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-block-start: 10vh;
}
