.pins {
  user-select: none;
  margin-top: $space-s;
  display: inline-flex;
  align-items: center;
  min-height: 20px;
  flex-wrap: wrap;
  flex-basis: 100%;

  .filter-node {
    margin-right: 12px;
    min-height: 17px;
  }
}
