.admin-page {
  background: $white-3;
  min-height: 100%;
  width: 100%;

  a {
    color: $green;
  }

  h1 {
    font-size: 24px;
    font-weight: 100;
    text-transform: uppercase;
    word-spacing: 6px;
    margin: 0;
  }

  .button {
    box-shadow: none;
    width: 100%;
    height: 28px;
    text-transform: uppercase;
    font-family: $body-font;
    font-weight: bold;
    font-size: 12px;
    background: $green;
    display: flex;
    align-items: center;
    justify-content: center;

    &:disabled {
      opacity: 0.5;
    }

    svg {
      width: 9px;
      height: 9px;
      margin: 0;
      margin-right: 12px;
    }
  }
}

.admin-title {
  text-align: center;
  margin: 50px 0;
}

.looky-header {
  display: flex;
  align-items: center;
  -webkit-app-region: drag;

  img {
    width: 36px;
    height: 36px;
    margin: 30px;
    margin-right: 12px;
  }

  h1 {
    font-weight: 100;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
  }
}

.admin-panel-wrapper {
  text-align: center;
}

.admin-panel {
  background: $gray-9;
  padding: 24px;
  border-radius: 3px;
  position: relative;
  display: inline-block;
  z-index: 0;
  color: white;

  &:before {
    content: "";
    background: transparent;
    box-shadow: 0 12px 24px 0 transparentize($gray-9, 0.5);
    border-radius: 3px;
    top: 12px;
    right: 30px;
    left: 30px;
    bottom: 0;
    position: absolute;
    z-index: -1;
  }

  &:after {
    width: calc(100% - 6px);
    height: 1px;
    position: absolute;
    left: 3px;
    top: 1px;
    background: $gray-7;
    content: "";
  }
}

@mixin admin-label {
  font-size: 9px;
  text-transform: uppercase;
  font-weight: normal;
  color: #95b2d5;
}

.admin-form {
  .form-field {
    display: flex;
    align-items: center;

    input {
      flex: 1;
      padding: 0 8px;
    }

    label {
      padding-right: 12px;
      @include admin-label;
    }
  }

  input {
    background: $gray-7;
    font-size: 14px;
    line-height: 28px;
    height: 28px;
    outline: none;
    color: white;
    font-family: $mono-font;

    &:focus {
      box-shadow: $box-shadow;
      background: $gray-5;
    }
  }

  .form-error {
    margin: 24px 0;

    color: $yellow;
  }
}

.admin-table {
  text-align: left;
  th,
  td {
    padding: 6px;
  }
  th {
    @include admin-label;
  }

  td {
    font-family: $mono-font;
    font-size: 14px;
    font-weight: 300;
  }
}

.boomd-connect .admin-panel {
  min-width: 400px;

  .status-message {
    margin-top: 24px;

    a {
      cursor: pointer;
      padding: 12px;
      text-decoration: underline;
    }
  }
}
