.analysis-table {
  outline: none;
}

.analysis-header-cell {
  background: $gray-3;
  color: white;
  font-size: 14px;
  font-weight: normal;
  min-height: $bro-log-row-height;
  padding: 6px $base-space * 2;
  display: flex;
  align-items: center;
  outline: 1px solid white;
}

.analysis-data-cell {
  height: $bro-log-row-height;
  padding: 6px $base-space * 2;
  font-size: 14px;
  font-family: $mono-font;
  white-space: nowrap;
  @include type-colors;

  &:hover {
    background-color: $light-gray-3;
  }
}
