.analysis-header-cell {
  background: $gray-3;
  color: white;
  font-size: 14px;
  text-align: left;
  padding: 6px $base-space * 2;
  font-weight: normal;
  min-height: $bro-log-row-height;
}

.analysis-data-cell {
  height: $bro-log-row-height;
  padding: 6px $base-space * 2;
  font-size: 14px;
  font-family: $mono-font;
  white-space: nowrap;
  @include type-colors;

  &:hover {
    background-color: $light-gray-1;
  }
}
