// Used the modular ratio website
$scale-8: 95.949px;
$scale-7: 78.538px;
$scale-6: 59.301px;
$scale-5: 48.54px;
$scale-4: 36.651px;
$scale-3: 30px;
$scale-2: 22.652px;
$scale-1: 18.541px;
$scale-0: 14px;
$scale--1: 11.459px;
$scale--2: 8.653px;
$scale--3: 7.082px;
$scale--4: 5.348px;
$scale--5: 4.377px;
$scale--6: 3.305px;

$line-height: 1.6;
$leading: $scale-0 * $line-height;

.body-content {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 $leading;
  padding-bottom: $leading * 2;

  * {
    line-height: $leading;
    margin-bottom: $leading;
  }

  p,
  ul,
  li,
  pre,
  code {
    font-size: $scale-0;
    line-height: $line-height;
  }

  pre {
    margin: $leading / 2;
  }

  h1 {
    font-size: $scale-4;
    line-height: $scale-4 * $line-height;
    margin-top: $scale-4 * $line-height;
  }
  h2 {
    font-size: $scale-3;
    line-height: $scale-3 * $line-height;
    margin-top: $scale-3 * $line-height;
  }
  h3 {
    font-size: $scale-2;
    line-height: $scale-2 * $line-height;
    margin-top: $scale-2 * $line-height;
  }
  h4 {
    font-size: $scale-1;
    line-height: $scale-1 * $line-height;
    margin-top: $scale-1 * $line-height;
  }
  h5 {
    font-size: $scale-0;
    line-height: $scale-0 * $line-height;
    margin-top: $scale-0 * $line-height;
  }
  h6 {
    font-size: $scale--1;
    line-height: $scale--1 * $line-height;
    margin-top: $scale-0 * $line-height;
  }
}
