.brim-toast.brim-toast {
    background: var(--wet-cement);
    color: white;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.25), 
        0 3px 3px rgba(0,0,0,0.05);
    max-width: 90%;
    font-size: 13px;

    [role=status] {
        margin: 0;
    }
}
