.bro-log-viewer-wrapper {
  .section-heading {
    padding-left: $base-space;
  }
  .bro-log-table {
    margin: $base-space 0;
    min-height: 300px;

    .loader {
      text-align: center;
      margin: $base-space * 2 auto;
    }
  }
  .ts-header {
    height: $bro-log-row-height;
    display: flex;
    align-items: center;
    p {
      font-size: 11px;
      color: white;
      background: $gray;
      padding: 2px 12px 2px 12px;
      letter-spacing: 2;
      border-radius: 3px 3px 3px 3px;
      margin-left: 13px;
      .time {
        margin-left: 12px;
      }
    }
  }
  .mini-ts {
    font-size: 11px;
    color: $gray;
    line-height: $bro-log-row-height;
  }
}
