.panel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  height: 28px;
  width: 28px;
  background: none;
  border: none;
  border-radius: 3px;

  svg {
    fill: var(--slate);
    height: 100%;
    width: 100%;
  }

  &:hover {
    transition: background-color 100ms;
    background: rgba(0, 0, 0, 0.05);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.1);
    transform: translateY(2px);
  }

  &:disabled {
    svg {
      fill: var(--cloudy);
    }
    &:hover {
      background: none;
    }
    &:active {
      box-shadow: none;
      transform: none;
    }
  }

  &.text {
    width: auto;
  }
}

.close-button {
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  background: none;
  position: relative;

  svg {
    height: 10px;
    width: 10px;
    stroke: none;
    fill: var(--slate);
    transition: fill 50ms;
  }

  &:hover {
    svg {
      fill: var(--aqua);
    }
  }

  &:active {
    svg {
      fill: var(--slate);
    }
  }
}
