@mixin button-reset {
  border: none;
  outline: none;
  font-family: $body-font;
}

@mixin button-shadow {
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.25);
}

.button-group {
  display: flex;
  align-items: center;
}

.button {
  @include button-reset;
  color: white;
  background: $blue-3;
  border-radius: 3px;
  padding: 3px;
  display: inline-block;
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.25);
  transition: all 100ms;
  cursor: pointer;

  svg {
    fill: white;
    display: block;
    margin: 0 auto;
  }
}

.button:hover {
  background: $blue-4;
  transform: scale(1.03);
}

.button:focus {
  outline: none;
}

.button:active {
  background: $blue-5;
  box-shadow: none;
  outline: none;
  transform: scale(1);
}

.button-circle {
  background: $green-3;
  fill: white;
  stroke: white;
  height: 36px;
  width: 36px;
  border: none;
  box-shadow: $high-box-shadow;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 150ms;
  outline: none;

  svg {
    height: 17px;
    width: 17px;
    stroke-width: 0;
  }

  &:hover {
    transform: scale(1.08);
  }

  &:active {
    transform: scale(1);
  }
}

.panel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  height: 28px;
  width: 28px;
  background: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  outline: none;

  svg {
    fill: $gray-1;
    stroke: $gray-1;
    height: 100%;
    width: 100%;
  }

  &:hover {
    transition: background-color 100ms;
    background: rgba(0, 0, 0, 0.05);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.1);
    transform: translateY(2px);
  }

  &:disabled {
    svg {
      fill: lighten($gray-1, 35%);
      stroke: lighten($gray-1, 35%);
    }
    &:hover {
      background: none;
    }
    &:active {
      box-shadow: none;
    }
  }

  &.text {
    width: auto;
  }
}

.thin-button {
  @include button-reset;
  height: 14px;
  background: #dcdcdc;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  font-size: 11px;
  line-height: 12px;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background: darken(#dcdcdc, 5%);
  }

  &:active,
  .active {
    background: darken(#dcdcdc, 10%);
  }
}

.thin-picker {
  cursor: pointer;
  width: 22px;
  padding: 0;
  transition: all 100ms;

  svg {
    fill: #4a4a4a;
    width: 8px;
    padding: 0;
    margin: 0;
  }

  &:hover {
    background: darken(#dcdcdc, 5%);
    transform: scale(1.05);
  }

  &:active {
    background: darken(#dcdcdc, 10%);
    transform: scale(1);
  }
}

.close-button {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  background: none;

  svg {
    fill: white;
    height: 12px;
    width: 12px;
  }

  &:hover:before {
    transform: scale(1.5);
  }

  &:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transition: transform 100ms;
    transform: scale(0);
    @include fills-transparent-white-20;
  }

  &.light:before {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &.light svg {
    fill: $gray-warm-5;
  }

  &:active:before {
    opacity: 0.75;
  }
}
