.chart {
  height: 80px;
  position: relative;

  .selection {
    fill: var(--havelock);
    stroke: var(--havelock);
    stroke-dasharray: 3px;
  }

  .loading-message,
  .no-chart-data {
    @include label-small;
    margin: 0;
    position: absolute;
    user-select: none;
    pointer-events: none;
    z-index: 0;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
    color: var(--lead);

    .burst {
      background-color: var(--lead);
    }
  }

  .no-chart-data {
    opacity: 0;
  }

  .no-chart-data.visible {
    opacity: 1;
  }

  .tooltip {
    opacity: 0;
    position: absolute;
    height: 30px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 0 10px;
    background: white;
    box-shadow: $box-shadow;
    pointer-events: none;
    transition: all 100ms;
    font-family: var(--mono-font);

    span.path {
      display: inline-block;
      text-align: center;
      color: white;
      padding: 0 6px;
      border-radius: 3px;
      font-weight: bold;
    }
  }
}

.chart svg {
  display: block;

  .tick line {
    stroke: var(--cloudy);
  }

  .tick text {
    pointer-events: none;
    user-select: none;
  }

  .x-axis-drag {
    cursor: ew-resize;
  }

  .domain {
    stroke: var(--cloudy);
  }

  text {
    font-family: var(--mono-font);
    fill: var(--lead);
    font-size: 9px;
  }
}

.chart-tooltip {
  font-family: var(--mono-font);
  opacity: 0;
}

.y-axis-single-tick {
  text {
    transform: translate(-2px, -6px);
  }
}
