.column-chooser-wrapper {
  display: flex;
  float: right;
}

.column-chooser-anchor {
  text-transform: uppercase;
  font-size: 10px;
  line-height: 14px;
  background: white;
  box-shadow: $box-shadow;
  padding: 0 12px;
  text-align: center;
  margin-bottom: $base-space / 2;
  margin-right: $base-space / 2;
  font-weight: bold;
  letter-spacing: 1px;
  align-self: flex-end;
  border-radius: 3px;
  color: $gray-1;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 150ms;

  &:hover {
    background: $light-gray-1;
  }

  svg {
    fill: $gray-1;
    width: 9px;
    height: 9px;
    margin-left: 6px;
    transition: all 250ms;
  }

  &.open {
    background: $light-gray-1;
    svg {
      transform: rotate(180deg);
    }
  }
}

.column-chooser {
  &.all-visible {
    li.visible {
      font-weight: normal;
      background: inherit;
      color: $gray-3;
      &:hover {
        background: $light-gray-2;
      }
    }
  }

  li {
    color: $gray-1;
  }

  li.show-all {
    background: none;
    color: $gray-5;

    &:hover {
      background: $light-gray-2;
    }
  }

  li.visible {
    background: $blue-3;
    color: white;

    &:hover {
      background: $blue-2;
    }
  }
}
