.column-description {
  .tip-title {
    p {
      margin: 0;
    }
    p:first-child {
      font-weight: bold;
    }
    p:last-child {
      font-style: italic;
    }
    display: flex;
    justify-content: space-between;
  }

  .tip-body {
    overflow-y: auto;
    max-height: 260px;
    word-wrap: break-word;
    padding: 0 10px;

    ul,
    ol {
      padding: 0 16px;
    }
  }

  .tip-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 0 0 8px 8px;

    a {
      text-decoration: underline;
      cursor: pointer;
      color: $blue-light;
    }
  }
}
