$blue-1: #95b2d5;
$blue-2: #6388b6;
$blue-3: #416b9c;
$blue-4: #29578d;
$blue-5: #173866;

$yellow-1: #ffeeb5;
$yellow-2: #ffe58a;
$yellow-3: #ffdd66;
$yellow-4: #e4bf3e;
$yellow-5: #ba961a;

$green-1: #86c8b7;
$green-2: #5bb69d;
$green-3: #399c81;
$green-4: #228c6f;
$green-5: #0f7156;

$gray-1: #6b7481;
$gray-2: #4e5865;
$gray-3: #353d48;
$gray-4: #1e2732;
$gray-5: #141e2d;

$light-gray-1: #e4e4e4;
$light-gray-2: #9f9f9f;
$light-gray-3: #fafaf9;

$pink: #ad3f95;
$off-white: #f5f5f5;
$light-gray: #dedede;
$gray: #b3b3b3;
$dark-gray: #636363;
$blue: #4a90e2;
$light-blue: lighten($blue, 15%);
$green: #70bf41;
$yellow: #ffff8f;
$red: #d0021b;
$purple: #544aa6;
$orange: #eeb457;
$teal: #628f96;
$light-teal: #dfedf0;
$light-green: #50e3c2;
