.column-chooser-wrapper {
  display: flex;
  float: right;
  margin-right: $base-space/2;
  margin-bottom: 3px;
}

.column-chooser-menu {
  box-shadow: $box-shadow;
  height: 100%;
  overflow: scroll;

  &.all-visible {
    li.visible {
      font-weight: normal;
      background: inherit;
      color: $gray-3;
      &:hover {
        background: $light-gray-2;
      }
    }
  }

  li {
    color: $gray-1;
  }

  li.show-all {
    background: none;
    color: $gray-5;

    &:hover {
      background: $light-gray-2;
    }
  }

  li.visible {
    background: $blue-3;
    color: white;

    &:hover {
      background: $blue-2;
    }
  }
}

.slide-in-right-appear {
  transform: translate(100%);
}

.slide-in-right-appear-active {
  transition: transform 150ms;
  transform: translate(0, 0);
}
