.column-chooser-menu {
  background-color: white;
  min-width: 280px;
  position: absolute;
  top: 48px;
  right: 12px;
  bottom: 48px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;

  .fieldset {
    margin: 24px auto;
    text-align: center;
    @include heading-section;
  }

  hr {
    border: none;
    min-height: 1px;
    width: calc(100% - (24px + 24px));
    margin: 0 auto;
    background-color: #dfe0e6;
  }

  .subscript {
    color: #c5c7d1;
  }

  .close-button {
    position: absolute;
    right: 6px;
    top: 6px;
  }

  .count {
    top: 18px;
    left: 24px;
    width: 24px;
    height: 24px;
    background-color: $blue;
    color: white;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    .label {
      cursor: default;
    }
    &:hover {
      text-decoration: line-through;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    padding-top: 18px;
    padding-bottom: 12px;
    height: 100%;
  }
}

.slide-in-right-appear {
  transform: translate(100%);
}

.slide-in-right-appear-active {
  transition: transform 150ms;
  transform: translate(0, 0);
}
