.control-bar {
  position: relative;
  z-index: 1;
  margin-bottom: 8px;

  .row-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 68px;
    margin-right: 80px;
    margin-bottom: 3px;

    .thin-picker {
      margin-left: 1px;
    }

    * > div {
      diplay: flex;
      align-items: center;
    }
  }

  .row-2 {
    display: flex;
  }

  .search-bar {
    flex: 1;
  }

  .looky-face {
    margin-right: $base-space;
  }

  .control-button {
    cursor: pointer;
    margin-left: $base-space;
    height: 34px;
    display: flex;
    align-items: center;

    svg {
      fill: $white-9;
      height: 22px;
    }

    &.active svg {
      fill: $blue-3;
    }
  }
}
