.control-bar {
  position: relative;
  z-index: 1;
  margin-bottom: 8px;
  padding-top: 12px;
  padding-left: 6px;
  padding-right: 6px;

  .row-1 {
    margin-left: 68px + 16px;
    margin-right: 16px;
    margin-bottom: 6px;
  }

  .row-2 {
    display: flex;
    -webkit-app-region: no-drag;
  }

  .search-bar {
    flex: 1;
  }
}
