.context-menu-button {
  width: 36px;
  height: 20px;
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24);
  padding: 0 3px;
  cursor: pointer;
  background: white;
  user-select: none;
  text-align: center;
  vertical-align: top;

  .dots {
    font-weight: 100;
    color: $gray;
    font-size: 14px !important;
    line-height: 20px;
  }
}
