$context-menu-padding: $base-space;
$br: 8px;

.context-menu-overlay {
  position: fixed;
  background: transparent;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.context-menu {
  padding: 0;
  margin: 0;
  text-align: left;
  background-color: white;
  box-shadow: $high-box-shadow;
  position: absolute;
  max-width: 300px;
  z-index: 1;
  transition: top 150ms, opacity 150ms;
  padding: 8px 0;

  a,
  li {
    font-size: 14px;
    font-family: $body-font;
    padding: 8px 36px;
    color: $gray-3;
    list-style-type: none;
    display: block;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      background-color: $off-white;
    }
  }
}
