.conn-versation {
  margin-bottom: $space-s;
  display: flex;
  justify-content: space-between;
  user-select: none;
  td,
  th {
    white-space: nowrap;
    user-select: all;
  }

  .host {
    border: 1px solid $white-5;
    border-radius: 3px;
  }

  .fieldset {
    text-align: center;
    padding: 6px 3px;
  }

  .ip,
  .port {
    margin: 0;
    color: white;
    background: $blue;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    font-family: $mono-font;
    user-select: all;
  }

  .ip.small {
    font-size: 8px;
  }

  .port {
    background: $blue-light;
  }

  .responder {
    .ip {
      background: $green;
    }
    .port {
      background: $green-light;
    }
  }

  .history {
    align-self: center;
    flex: 1;
    padding: $space-s;
  }

  .history-packet {
    display: flex;
    align-items: center;
    line-height: 18px;

    span {
      font-weight: bold;
      font-family: $mono-font;
      text-transform: uppercase;
      font-size: 12px;
      padding: 1px 6px;
    }

    hr {
      flex: 1;
      border: none;
      border-bottom: 1px solid $yellow;
      margin: 0;
    }

    .triangle {
      fill: $yellow;
      stroke: $yellow;
      width: 10px;
    }
  }

  .history-packet.arrow-right {
    padding-right: $space-s/2;
  }

  .history-packet.arrow-left {
    padding-left: $space-s/2;
    .triangle {
      order: 1;
      transform: rotate(180deg);
    }
    hr {
      order: 2;
    }
    span {
      order: 3;
    }
  }
}
