.chart {
  height: 80px;
  position: relative;

  .selection {
    fill: $yellow;
    stroke: $yellow-dark;
    stroke-dasharray: 3px;
  }

  .loading-message,
  .no-chart-data {
    font-family: $data-font;
    position: absolute;
    user-select: none;
    z-index: 0;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
    color: $white-9;
    .fieldset {
      font-family: $data-font;
    }

    .burst {
      background-color: $white-9;
    }
  }

  .no-chart-data {
    opacity: 0;
  }
  .no-chart-data.visible {
    opacity: 1;
  }

  .tooltip {
    opacity: 0;
    position: absolute;
    height: 30px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 0 10px;
    background: white;
    box-shadow: $box-shadow;
    pointer-events: none;
    transition: all 100ms;
    font-family: $mono-font;

    span.path {
      display: inline-block;
      text-align: center;
      color: white;
      padding: 0 6px;
      border-radius: 3px;
      font-weight: bold;
    }
  }
}

.chart svg {
  display: block;

  .tick line {
    stroke: $white-5;
  }

  .tick text {
    pointer-events: none;
    user-select: none;
  }

  .x-axis-drag {
    cursor: ew-resize;
  }

  .domain {
    stroke: $white-5;
  }

  text {
    font-family: $data-font;
    fill: $gray-1;
    font-size: 9px;
  }

  .y-axis-single-tick {
    .tick,
    .domain {
      display: none;
    }
    .tick:last-child {
      display: block;
    }
    .tick-bg {
      fill: $white-3;
    }
  }
}

.chart-tooltip {
  font-family: $mono-font;
  opacity: 0;
}
