.count-by-time-wrapper {
  .loading-message {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    p {
      @include pulsing;
    }
  }
}

.count-by-time {
  display: block;

  .data-point {
    stroke-width: 1px;
    fill: $light-green;
  }

  .tick line {
    stroke: $light-gray;
  }

  .tick text {
    pointer-events: none;
    user-select: none;
  }

  .x-axis-drag {
    cursor: ew-resize;
  }

  .domain {
    stroke: $light-gray;
  }

  text {
    font-family: $body-font;
    fill: $gray;
    font-size: 9px;
  }

  .y-axis .tick,
  .y-axis .domain {
    display: none;
  }

  .y-axis .tick:last-child {
    display: block;
  }

  .time-cursor {
    stroke-width: 1px;
    stroke: $gray-5;
  }
}

.chart-tooltip {
  font-family: $mono-font;
  opacity: 0;
}
