.curl-modal {
  .text-content {
    display: flex;
    flex-direction: column;
    min-height: 0;
    pre {
      flex: 1;
      overflow: auto;
      user-select: all;
    }
  }
}

.zq-get-modal {
  min-height: 200px;
}
