.curl-modal {
  width: 80%;
  min-width: 400px;

  .curl-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    .button {
      width: 200px;
    }
  }
}
