.date-time-picker {
  background-color: $light-gray;
  padding-bottom: 24px;

  .selected-date-heading {
    text-align: center;
    font-size: 24px;
    font-family: $mono-font;
    background: $blue;
    color: white;
    margin: 0;
    padding: 30px 18px;

    .day-input,
    .time-input {
      display: block;
      width: 100%;
      background: transparent;
      border: none;
      border-bottom: 1px solid lighten($blue, 10%);
      color: white;
      font-family: $mono-font;
      font-size: 18px;
      outline: none;
      text-align: center;
    }

    .day-input {
      margin-bottom: 8px;
    }
  }

  .DayPicker {
    width: 100%;
    display: block;
  }

  .DayPicker-wrapper {
    outline: none;
  }

  .DayPicker-Caption > div {
    // month name
    font-weight: bold;
    font-size: 1em;
  }

  .DayPicker-Caption {
    padding: 0;
  }

  .DayPicker-Weekday {
    color: $gray;
  }

  .DayPicker-NavButton {
    color: $gray;
  }

  .time-picker {
    display: block;
    width: calc(100% - 36px);
    margin: 0 auto;

    .form-field {
      margin: 0;
    }
  }

  .range-value {
    float: right;
    color: $gray;
  }
}
