.download-progress {
  position: relative;
  background: var(--cello);
  
  &.complete .progress-value {
    background-color: var(--green);
  }

  .progress-bar {
    width: 100%;
    height: 5px;
  }

  .progress-value {
    background-color: var(--yellow);
    height: 100%;
    border-radius: 0 8px 8px 0;
    width: 0%;
    transition: width 200ms linear;
  }

  .message-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .message {
    font-size: 12px;
    padding: 12px;
    white-space: nowrap;
    color: white;
  }
}
