.drag-anchor {
  width: 9px;
  position: absolute;
  top: 0;
  bottom: 0;
  background: transparent;
  pointer-events: all !important;
  cursor: col-resize;
}

.drag-anchor-left {
  left: -4px;
}

.drag-anchor-right {
  right: -4px;
}

.drag-anchor-bottom {
  width: 100%;
  height: 9px;
  bottom: -4px;
  top: unset;
  cursor: row-resize;
}

body.dragging {
  user-select: none;
  pointer-events: none;
}
