.error-boundary {
  overflow: scroll;
  height: 100%;
  background-color: $gray-7;
  color: white;

  h1 {
    padding-top: $space-l;
    display: flex;
    align-items: center;
    color: $red;

    svg {
      fill: $red;
      margin: 0;
      height: 30px * 1.5;
      width: 30px * 1.5;
      margin-right: $space-l;
    }
  }

  pre,
  li,
  code {
    font-size: 12px;
  }
}
