.error-boundary {
  overflow: scroll;
  height: 100%;
  background-color: $gray-7;
  color: white;
  -webkit-app-region: drag;

  .body-content {
    margin-top: $leading;
    margin-bottom: $leading;
  }

  h1 {
    padding-top: $leading;
    display: flex;
    align-items: center;
    color: $red;

    svg {
      fill: $red;
      margin: 0;
      height: 30px * 1.5;
      width: 30px * 1.5;
      margin-right: $leading;
    }
  }

  pre,
  li,
  code {
    font-size: 12px;
  }
}
