.field-cell {
  @include type-colors;
  cursor: default;

  &.time {
    span {
      padding: 0 6px;
      &:last-child {
        padding-right: 0;
      }

      &:first-child {
        padding-left: 0;
      }
    }
  }

  &._path,
  &.event_type {
    @include path-tag;
  }

  &.null {
    color: $white-6;
  }
}
