.fields-table {
  border-collapse: collapse;
  color: $gray-warm-2;

  tr {
    vertical-align: baseline;

    &:nth-child(odd) {
      background: $table-stripe-color;
    }

    td {
      border-radius: 0 3px 3px 0;
    }

    th {
      border-radius: 3px 0 0 3px;
    }
  }

  th,
  td {
    padding: 3px 6px;
    padding-right: $base-space;
    word-break: break-word;
  }

  th {
    font-size: 9px;
    text-align: left;
    white-space: nowrap;
  }

  td {
    font-size: 12px;
    font-family: $mono-font;
    color: $gray-3;
    @include type-colors;
  }

  tr:hover {
    background: $table-stripe-hover;

    td {
      border-radius: 0 3px 3px 0;
    }

    th {
      border-radius: 3px 0 0 3px;
    }
  }
}
