.filter-node {
  display: inline-flex;
  align-items: center;
  background: $filter-node-background;
  border-radius: 3px;
  margin-bottom: 3px;
  position: relative;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.5);
  border: 1px solid transparent;
  transition: all 50ms;

  p {
    font-family: $mono-font;
    color: $filter-node-foreground;
    font-size: 9px;
    line-height: 13px;
    padding: 0 4px;
    border-radius: 3px;
    margin: 0;
  }

  .remove-button {
    display: none;
  }

  &:hover .remove-button {
    display: flex;
    .circle {
      fill: $wet-cement;
      opacity: 0.5;
    }
    &:hover .circle {
      opacity: 0.8;
    }
    &:active .circle {
      opacity: 1;
    }
  }

  &.focused {
    border: 1px solid $yellow;
    background: $green-light;
  }
}
