$filter-tree-line-color: $gray-5;

.filter-tree {
  height: 100%;
  color: $white-1;

  .remove-button {
    position: absolute;
    top: 5px;
    right: 12px;
    opacity: 0;
  }
}

.filter-tree-parent:hover {
  background: $gray-6;
  cursor: pointer;
  .remove-button {
    opacity: 1;
  }
}

.filter-tree-node {
  position: relative;
  margin-left: $space-m;
  padding: 2px 0;

  .filter-tree-parent::before {
    content: "";
    width: 1px;
    height: 27px;
    position: absolute;
    background: $filter-tree-line-color;
    top: -3px;
    left: 0;
  }

  &:last-of-type > .filter-tree-parent::before {
    height: 17px;
  }

  .filter-tree-children::before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    background: $filter-tree-line-color;
    top: 0;
    left: 0;
  }

  &:last-of-type > .filter-tree-children::before {
    display: none;
  }

  .filter-node {
    background: transparent;
    position: relative;
    margin-left: 6px;
    box-shadow: none;
    p {
      color: inherit;
    }

    &:before {
      content: "";
      position: absolute;
      background: $filter-tree-line-color;
      width: 6px;
      height: 1px;
      right: calc(100% + 1px);
    }
  }

  &.pinned > .filter-tree-parent > .filter-node {
    background: $filter-node-background;
    p {
      color: $filter-node-foreground;
    }
  }

  &.active > .filter-tree-parent > .filter-node {
    background: $gray-4;
    p {
      color: $filter-node-foreground;
    }
  }
}
