$filter-tree-line-color: $gray-5;

.filter-tree {
  height: 100%;
  color: $white-1;
  margin-top: 10px;

  .warning-body {
    display: flex;
    align-items: center;
    svg {
      fill: $yellow;
      height: 11px;
      width: 11px;
      margin-right: 12px;
      margin-bottom: 3px;
    }
  }
  .filter-tree-parent {
    display: flex;
    flex-direction: row;
    padding: 3px 0;
    border-radius: 5px;
    margin-right: 3px;
    height: 25px;
  }

  .remove-button {
    position: absolute;
    right: 12px;
    opacity: 0;
  }
}

.filter-tree-parent:hover {
  background: $white-3;
  .remove-button {
    opacity: 1;
    background-color: $white-9;
    &:hover {
      background-color: $gray-1;
    }
  }
}

.filter-tree-node {
  position: relative;
  margin-left: $space-m;
  padding: 2px 0;

  .filter-tree-parent::before {
    content: "";
    width: 1px;
    height: 27px;
    position: absolute;
    background: $filter-tree-line-color;
    top: -3px;
    left: 0;
  }

  &:last-of-type > .filter-tree-parent::before {
    height: 17px;
  }

  .filter-tree-children::before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    background: $filter-tree-line-color;
    top: 0;
    left: 0;
  }

  &:last-of-type > .filter-tree-children::before {
    display: none;
  }

  .filter-node {
    background: transparent;
    position: relative;
    margin-left: 6px;
    box-shadow: none;
    max-width: 80%;

    p {
      @include label-small;
      color: $aqua;
      padding: 2px;
      margin: 0 2px;
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &:before {
      content: "";
      position: absolute;
      background: $filter-tree-line-color;
      width: 6px;
      height: 1px;
      right: calc(100% + 1px);
    }
  }

  &.pinned > .filter-tree-parent > .filter-node {
    background: $filter-node-background;
    p {
      color: $filter-node-foreground;
    }
  }

  &.active > .filter-tree-parent > .filter-node {
    background: $gray-4;
    p {
      color: $filter-node-foreground;
    }
  }
}
