$filter-tree-line-color: $light-gray-3;

.filter-tree {
  padding-right: 12px;
}

.filter-tree-node {
  margin-left: 12px;
  border-left: 1px solid $filter-tree-line-color;

  .filter-node {
    background: transparent;
    position: relative;
    margin-left: 6px;
    box-shadow: none;
    p {
      color: inherit;
    }

    &:before {
      content: "";
      position: absolute;
      background: $filter-tree-line-color;
      width: 6px;
      height: 1px;
      right: 100%;
    }

    &:hover {
      background: $light-gray-3;
      color: $gray-3;
    }
  }

  &.active > .filter-node {
    background: $filter-node-background;
    p {
      color: $filter-node-foreground;
    }
  }
}

.filter-tree > .filter-tree-node:last-child,
.filter-tree-node > .filter-tree-node:last-child {
  border-color: transparent;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    background: $filter-tree-line-color;
    height: 14px;
    width: 1px;
    left: -1px;
    top: 0;
  }
}
