.finding-card-wrapper {
  display: block;
  position: relative;
  padding: $space-xs;
  padding-left: $space-l;
  color: white;
  margin-bottom: $space-xxs;

  &.open {
    background: $gray-6;
    box-shadow: 0 1px 2px -1px $gray-9, 0 -1px 2px -1px $gray-9;

    &:hover,
    &:nth-last-child(odd) {
      background: $gray-6;
    }

    .program .mono {
      font-weight: 700;
    }
  }

  &:nth-last-child(odd) {
    background: transparentize(white, 0.98);
  }

  .gutter-button-style {
    opacity: 0;
  }

  &:hover .gutter-button-style {
    opacity: 1;
  }

  &:hover {
    background: transparentize(white, 0.97);
  }

  &:active {
    background: transparentize(white, 0.94);
  }

  .expand-button {
    left: 5px;
    top: $space-xs;
  }

  .remove-button {
    top: $space-xs;
    right: 6px;
  }
}

.finding-card {
  cursor: pointer;
  color: $white-1;
  user-select: none;
  transition: background 150ms;

  .program {
    display: flex;
    margin-bottom: $space-xxs;
  }

  .mono {
    display: inline-block;
    border-radius: 3px;
    margin-right: $space-xxs;
    transition: font-weight 250ms;
  }

  .pin {
    padding: 0px $space-xxs;
    background: $green;
  }

  .footer {
    color: $white-8;
    display: flex;

    .stats {
      margin-right: $space-xxs;
      font-size: 9px;
    }
  }
}
