.finding-card-wrapper {
  display: flex;
  align-items: center;
  height: 24px;
  padding-left: 22px;
  width: 100%;
  overflow: hidden;
  transition: background-color 100ms;
  
  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.08);
  }
}

.finding-card {
  flex: 1;
  color: var(--aqua);
  user-select: none;
  transition: background 150ms;
  display: flex;
  align-items: center;
  overflow: hidden;

  .program {
    display: flex;
    align-items: center;
    margin-left: 6px;
    color: var(--aqua);
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    p {
      @include label-small;
      line-height: 16px;
      padding: 0;
      display: inline-block;
      margin: 0;
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  p.pin {
    color: white;
    background: var(--green);
    border-radius: 3px;
    flex-shrink: 0;
  }
}
