.finding-card-wrapper {
  display: block;
  position: relative;
  padding: $space-xxs;
  padding-top: $space-xs;
  padding-left: $space-l;
  color: white;
  border-radius: 5px;
  margin: 1px 3px;

  &.open {
    background: $gray-6;
    box-shadow: 0 1px 2px -1px $gray-9, 0 -1px 2px -1px $gray-9;

    &:hover,
    &:nth-last-child(odd) {
      background: $gray-6;
    }

    .program .mono {
      font-weight: 700;
    }
  }

  &:nth-last-child(odd) {
    background: transparentize(white, 0.98);
  }

  .gutter-button-style {
    opacity: 0;
  }

  &:hover .gutter-button-style {
    opacity: 1;
  }

  &:hover {
    background-color: $white-3;
  }

  &:active {
    background: transparentize(white, 0.94);
  }

  .expand-button {
    left: 5px;
    top: $space-xs;
  }

  .remove-button {
    background-color: $white-9;
    stroke-width: 3px;
    top: $space-xxs;
    right: 6px;

    &:hover {
      background-color: $gray-1;
    }
  }
}

.finding-card {
  cursor: pointer;
  color: $gray-5;
  user-select: none;
  transition: background 150ms;
  display: flex;
  flex-direction: row;
  align-items: center;

  .program {
    display: flex;
    margin-bottom: 2px;
    flex-wrap: wrap;

    p {
      font-size: 9px;
      line-height: 13px;
      display: inline-block;
      margin-right: 4px;
      margin-bottom: 2px;
      transition: font-weight 250ms;
    }
  }

  .pin {
    color: $white-1;
    font-size: 9px;
    line-height: 13px;
    background: $green;
    padding: 0 4px;
    border-radius: 3px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
  }

  .footer {
    color: $white-8;
    display: flex;

    .stats {
      margin-right: $space-xxs;
      font-size: 9px;
    }
  }

  .warning-body {
    display: flex;
    align-items: center;

    svg {
      fill: $yellow;
      height: 11px;
      width: 11px;
      margin-right: 12px;
      margin-bottom: 3px;
    }
  }
}
