.finding-span-card {
  display: flex;
  align-items: center;
  padding: $space-xs 0;
  white-space: nowrap;
  color: $gray-9;

  .span-duration span {
    color: $white-6;
    font-size: 9px;
  }

  &:hover {
    .thin-button {
      background-color: $white-7;
    }
  }

  &:active {
    transform: translateY(1px);
    .thin-button {
      background-color: $white-9;
    }
  }

  .day,
  .time {
    font-size: 9px;
  }

  .day {
    margin-right: $space-xs;
  }

  .time {
    font-weight: 400;
  }
}
