.form > * {
  margin-bottom: $space-xs;
}

.input {
  label {
    @extend .label;
    transform: translateY(6px);
    background: white;
    padding: 0 1px;
    margin-left: 5px;
    display: inline-block;
    font-weight: bold;
    transition: transform 200ms, background 200ms;
    font-size: $font-size-1;
    color: $gray-1;
  }

  input {
    border: 1px solid $white-4;
    width: 100%;
    padding: 0 6px;
    line-height: 2.33;
    font-size: $font-size-2;
    font-family: $body-font;
    border-radius: 3px;
  }

  &.focus {
    input {
      outline: none;
      border: 1px solid $gray-1;
      background: $white-2;
    }

    label {
      color: $gray-5;
      background: none;
      transform: translateY(0);
    }
  }
}

.input-checkbox {
  padding-top: 8px;

  label {
    display: flex;
    @extend .label;
    align-items: center;
    font-size: $font-size-1;
  }

  input {
    margin: 0;
    margin-right: $space-s;
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border: 1px solid $white-4;
    position: relative;
    border-radius: 3px;

    &:after {
      content: "";
      position: absolute;
      top: 4px;
      left: 4px;
      right: 4px;
      bottom: 4px;
      background: linear-gradient($blue-light, $blue);
      box-shadow: 0px 0 3px 0 rgba(0, 0, 0, 0.25);
      border-radius: 8px;
      transform: scale(0);
      transition: transform 200ms;
    }

    &:checked:after {
      transform: scale(1);
    }
  }

  input:focus {
    outline: none;
    border: 1px solid $gray-1;
    background: $white-2;
  }
}

.input-submit {
  padding-top: 8px;

  input {
    font-size: $font-size-1;
    text-transform: uppercase;
    color: $gray-5;
    cursor: pointer;
    font-weight: bold;
    background: linear-gradient($white-2, $white-3);
    border: 1px solid $white-3;
    border-bottom: 1px solid $white-5;
    border-radius: 5px;
    font-family: $body-font;
    padding: $font-size-2 / 2 $font-size-2;

    &:hover {
      background: linear-gradient($white-2, $white-4);
      color: $gray-9;
    }

    &:focus {
      border-color: $gray-1;
      outline: none;
    }

    &:active {
      box-shadow: none;
      transform: translateY(2px);
    }
  }
}
