.form > * {
  margin-bottom: $space-xs;
}

.input {
  label {
    @extend .label;
    transform: translateY(6px);
    background: white;
    padding: 0 1px;
    margin-left: 5px;
    display: inline-block;
    font-weight: bold;
    transition: transform 200ms, background 200ms;
  }

  input,
  option,
  li {
    line-height: 2.33;
    font-size: 0.75rem;
    font-family: $body-font;
    width: 100%;
  }

  input,
  select {
    padding: 0 6px;
    border: 1px solid $white-4;
  }

  select {
    display: block;
  }

  &.focus {
    input {
      outline: none;
      border: 1px solid $gray-1;
      background: $white-2;
    }

    label {
      color: $gray-5;
      background: none;
      transform: translateY(0);
    }
  }
}

.input-checkbox {
  padding-top: 8px;
  label {
    display: flex;
    @extend .label;
    align-items: center;
  }

  input {
    margin: 0;
    margin-right: $space-s;
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border: 1px solid $white-4;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 4px;
      left: 4px;
      right: 4px;
      bottom: 4px;
      background: linear-gradient($blue-light, $blue);
      box-shadow: 0px 0 3px 0 rgba(0, 0, 0, 0.25);
      border-radius: 8px;
      transform: scale(0);
      transition: transform 200ms;
    }

    &:checked:after {
      transform: scale(1);
    }
  }

  input:focus {
    outline: none;
    border: 1px solid $gray-1;
    background: $white-2;
  }
}

.input-submit {
  padding-top: 8px;

  input {
    cursor: pointer;
    font-weight: bold;
    background: linear-gradient($white-1, $white-3);
    border: 1px solid $white-4;
    border-radius: 3px;
    font-family: $body-font;
    padding: 6px 16px;
    box-shadow: 0 2px 6px -3px rgba(0, 0, 0, 0.5);

    &:focus {
      border-color: $gray-1;
      outline: none;
    }

    &:active {
      box-shadow: none;
      transform: translateY(2px);
    }
  }
}

.input-select-multiple {
  position: relative;
  label {
    transform: none;
  }
  nav {
    display: inline-block;
    user-select: none;
    padding-left: 3px;

    a {
      color: $blue;
      // text-decoration: underline;
      cursor: pointer;
      &:hover {
        color: $blue-dark;
      }
      &:active {
        color: $blue;
      }
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid $white-4;
    overflow-y: scroll;
    max-height: 300px;
    background: $white-2;
  }

  li {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 3px;
    line-height: 1.6;
    user-select: none;
    color: lighten($gray-9, 20%);

    &:nth-child(even) {
      background: $table-stripe-color;
    }

    .check-circle {
      margin: 0 0.5rem;
    }

    &[data-selected="false"] {
      color: $gray-9;
      .check-circle {
        circle {
          fill: white;
          stroke: $white-5;
        }
      }
    }
  }
}
