.form-field {
  margin-bottom: $base-space;
}

input {
  border: none;
  padding: 0;
}

.text-input-wrapper {
  position: relative;

  input {
    color: $gray-3;
    font-size: 14px;
    border: none;
    color: $gray-3;
    font-size: 14px;
    font-family: $mono-font;
    outline: none;
    width: 100%;
    padding: 8px;
    box-shadow: $box-shadow;
    border-radius: 3px;

    &::placeholder {
      color: $gray;
    }
  }
}

.checkbox {
  -webkit-appearance: none;
  @include input-primary;
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 12px;

  &:before {
    content: "";
    width: 12px;
    height: 5px;
    position: absolute;
    top: 5px;
    left: 4px;
    border: 3px solid $accent-blue;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
  }

  &:checked:before {
    opacity: 1;
  }
}

.label-wrapper {
  display: flex;
  align-items: center;
}
