*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--body-font);
  color: var(--foreground-color);
  background-color: var(--background-color);
  font-size: 13px;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

pre,
code {
  border-radius: 3px;
  font-family: var(--mono-font);
}

pre {
  overflow-x: scroll;
}

code {
  padding: 2px 3px;
}

.title-bar-drag-area {
  position: fixed;
  height: 42px;
  width: 100%;
  -webkit-app-region: drag;
  z-index: -1;
}

.using-mouse {
  :focus {
    outline: none;
  }
}

.using-keyboard {
  :focus {
    outline: auto 5px var(--havelock);
  }
}