* {
  box-sizing: border-box;
}

html,
body {
  font-family: $body-font;
  color: $gray-2;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: $light-gray-1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  margin-top: 0;
}

p {
  margin: 0;
}

label {
  font-weight: bold;
}

pre {
  background-color: $gray-3;
  border-radius: 3px;
  color: $light-gray;
  font-family: $mono-font;
  padding: 3px 6px;

  &.light {
    background-color: $off-white;
    color: $gray;
  }
}

.form-field {
  margin-bottom: 12px;
}

.wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 96%;
}

body.no-scroll {
  overflow: hidden;
}

.hidden {
  display: none;
}

input {
  color: $gray-3;
  font-size: 14px;
  border: none;
}

input[type="range"] {
  @include range-input;
}
