* {
  box-sizing: border-box;
}

html,
body {
  font-family: $body-font;
  color: $aqua;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  font-feature-settings: "ss03";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  margin-top: 0;
}

pre,
code {
  border-radius: 3px;
  font-family: $mono-font;
}

pre {
  overflow-x: scroll;
}

code {
  padding: 2px 3px;
}

.title-bar-drag-area {
  position: fixed;
  height: 22px;
  width: 100%;
  -webkit-app-region: drag;
  z-index: -1;
}

.using-mouse {
  :focus {
    outline: none;
  }

  input[type="text"]:focus {
    outline: auto 5px -webkit-focus-ring-color;
  }
}

.using-keyboard {
  :focus {
    outline: auto 5px -webkit-focus-ring-color;
  }
}
