* {
  box-sizing: border-box;
}

html,
body {
  font-family: $body-font;
  color: $gray-3;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  margin-top: 0;
}

p {
  margin: 0;
}

label {
  font-weight: bold;
}

pre,
code {
  background-color: $light-gray-2;
  border-radius: 3px;
  color: $gray-2;
  font-family: $mono-font;
}

pre {
  margin: 0.5em 0;
  padding: 1em;
  overflow-x: scroll;
}

code {
  padding: 2px 3px;
}
