.gutter-button-style {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 19px;
  width: 19px;
  border-radius: 3px;
  opacity: 1;
  background: transparent;
  transition: opacity 150ms, background 250ms, transform 300ms;

  svg {
    fill: $white-3;
  }

  &:hover {
    svg {
      fill: $white-1;
    }
    background: $transparent-light;
  }

  &:active {
    svg {
      fill: $white-1;
    }
    background: $gray-2;
  }
}
