.viewer header {
  white-space: nowrap;
  height: $bro-log-row-height;
  display: flex;
  box-shadow: 0 1px 3px -2px rgba(0, 0, 0, 0.7);
  padding-left: 12px;
}

.viewer .header-cell {
  @include label-normal;
  height: $bro-log-row-height;
  line-height: $bro-log-row-height;
  padding: 0 12px;
  color: var(--aqua);
  user-select: none;
  transition: border 150ms;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;

  &.count,
  &.interval {
    justify-content: flex-end;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    height: 60%;
    width: 1px;
    background: var(--cloudy);
    top: 20%;
  }

  &:before {
    left: -1px;
  }

  &:after {
    right: 0px;
  }

  &.active,
  &:hover {
    &:before,
    &:after {
      content: "";
    }
  }

  &:active,
  &.active {
    background: var(--coconut);
  }

  &.sorted {
    font-weight: bold;

    svg {
      margin-left: $space-xs;
    }
  }
}

.viewer .col-resizer {
  width: 12px;
  height: 100%;
  background: transparent;
  position: absolute;
  right: -2px;
  top: 0;
  cursor: col-resize;
}
