.history-pane {
  background: $gray-7;

  .pane-header {
    background: $gray-8;
    border-bottom: 1px solid $gray-5;

    .pane-title {
      color: white;
    }
  }
  .clear-button {
    width: auto;
    cursor: pointer;
    color: white;
    &:hover {
      background: $red;
      color: white;
    }
  }
}
