.history-pane {
  background: $white-1;

  .pane-header {
    background: $white-3;
    border-top: 1px solid $white-6;
    border-bottom: 1px solid $white-6;

    .pane-title {
      @include label-bold;
    }
  }
}
