.ingest-progress-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  animation: fadein 300ms;
  margin-top: 20%;
}

.ingest-progress {
  padding: 8px;
  user-select: none;
  display: flex;
  align-items: center;

  p {
    margin: 0;
    margin-right: 8px;
    @include label-normal;
  }

  .mac-spinner {
    transform: scale(0.6);
  }

  .progress-indicator {
    display: flex;
    align-items: center;
    .close-button {
      margin-left: 8px;
      width: 12px;
      height: 12px;
      svg {
        width: 8px;
        height: 8px;
      }
    }
  }

  .progress-track {
    box-sizing: content-box;
    height: 6px;
    background: rgba(0, 0, 0, 0.05);
    width: 100%;
    border-radius: 6px;
    box-shadow: inset 0 0 0 0.5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .progress-fill {
    width: 0%;
    background: $blue;
    height: 100%;
    animation: fake-loading 10s infinite;
  }
}

@keyframes fake-loading {
  from {
    width: 5%;
  }
  10% {
    width: 8%;
  }
  20% {
    width: 30%;
  }
  30% {
    width: 32%;
  }
  40% {
    width: 38%;
  }
  50% {
    width: 45%;
  }
  60% {
    width: 55%;
  }
  70% {
    width: 89%;
  }
  80% {
    width: 90%;
  }
  90% {
    width: 98%;
  }
  to {
    width: 100%;
  }
}
