.ingest-progress-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  animation: fadein 300ms;
}

.ingest-progress {
  padding: 8px;
  user-select: none;
  display: flex;
  align-items: center;

  p {
    margin: 0;
    margin-right: 8px;
    @include label-normal;
  }

  .mac-spinner {
    transform: scale(0.6);
  }
}
