.inline-table {
  table {
    border-collapse: collapse;
    width: 100%;
  }

  td {
    &:first-child {
      border-radius: 3px 0 0 3px;
    }
    &:last-child {
      border-radius: 0 3px 3px 0;
    }
  }

  tbody tr:nth-child(odd) {
    background: $table-stripe-color;
  }

  tbody tr:hover {
    background: $table-stripe-hover;
  }

  th,
  td {
    padding: 3px 6px;
    &.count {
      text-align: right;
    }
  }

  th {
    text-align: left;
    @extend .label;
    font-size: 9px;
    font-weight: bold;
    color: $gray-6;
  }

  td {
    @extend .code-text;
    @include type-colors;
  }
}
