.inline-table {
  table {
    border-collapse: collapse;
    width: 100%;
  }

  td {
    &:first-child {
      border-radius: 3px 0 0 3px;
    }
    &:last-child {
      border-radius: 0 3px 3px 0;
    }
  }

  tbody tr:nth-child(odd) {
    background: var(--table-stripe-bg);
  }

  tbody tr:hover {
    background: var(--hover-light-bg);
  }

  th,
  td {
    padding: 3px 6px;
    &.count {
      text-align: right;
    }
  }

  th {
    text-align: left;
    @extend .label;
    font-size: 9px;
    font-weight: bold;
    color: var(--slate);
  }
}
