.input-wrapper {
  position: relative;

  input {
    transition: all 300ms;
  }

  &:after {
    content: "";
    position: absolute;
    background-color: $yellow-3;
    width: 3px;
    left: -3px;
    height: 0;
    top: 50%;
  }

  &:focus-within:after {
    transition: all 300ms;
    top: 0;
    height: 100%;
  }
}
