.ip-address-pair {
  display: flex;
  justify-content: space-between;
  height: 25px;

  .ip-address {
    @include ip-address;
  }

  .right-arrow {
    width: 20px;
    display: flex;
    align-items: center;
    padding: 0 3px;

    hr {
      flex: 1;
      border: none;
      border-bottom: 1px solid $light-gray;
    }

    .triangle {
      fill: $light-gray;
      width: 10px;
    }
  }
}
