#app-root {
  height: 100%;
}

.side-bar {
  flex: 0 0 auto;
}

.section-heading {
  color: $gray;
}

.search-area {
  margin: 0 $base-space * 2;
}

.count-by-time-area {
  margin: 0 $base-space * 2;
}

.loading-area {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
