.loading-message {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms;

  .fieldset {
    margin-left: 12px;
  }

  &.visible {
    opacity: 1;
  }
}
