#detail-root {
  height: 100%;
  width: 100%;
}

.log-detail-window {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: var(--snow);

  .pane-header {
    background: #f0f0f0;
    border-bottom: 1px solid #dbdbdb;
  }

  .packets-button .toolbar-button svg {
    stroke: none;
    fill: var(--havelock);
  }

  .detail-pane-content {
    display: flex;
    justify-content: space-between;
    .column {
      width: 50%;
      margin: 12px;
    }
  }
}
