.log-viewer {
  background-color: white;
  outline: none;
  overflow-x: auto !important;
  padding-top: $base-space;
  color: $gray-3;

  .ReactVirtualized__Grid__innerScrollContainer {
    overflow: initial !important;
    overflow-x: visible !important;
  }
}
