$temp-bg: rgba(0, 0, 0, 0.05);
$start-aside-bg: #f49165;
$end-aside-bg: #e65835;
$burnt-red: #bf4a2c;

.login {
  width: 100%;
  height: 100%;
  display: flex;

  aside {
    min-width: 300px;
    max-width: 360px;
    width: 30%;
    background: linear-gradient($start-aside-bg, $end-aside-bg);
    box-shadow: 1px 0 10px 0 rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1;
    font-family: $mono-font;
    h3 {
      color: $burnt-red;
      text-transform: uppercase;
      font-weight: bold;
      padding-left: $space-m;
      font-size: 14px;
    }
    article {
      color: white;
      font-size: 12px;
      padding: $space-xxs $space-m;
      background: rgba(255, 255, 255, 0.12);
      margin: 0;
    }
  }

  main {
    flex: 1;
    background: linear-gradient(to right, white, #f7f7f7);
    position: relative;
  }

  .go-back {
    position: absolute;
    top: $space-l;
    left: $space-l;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: $space-xs;
    border-radius: 3px;
    border: 1px solid transparent;
    color: $white-9;
    transition: all 150ms;
    user-select: none;

    svg {
      transition: fill 150ms;
      width: 14px;
      height: 14px;
      fill: $white-9;
      margin-right: $space-s;
    }

    span {
      line-height: 1;
    }

    &:hover {
      background: $white-3;
      color: $gray-5;
      svg {
        fill: $gray-5;
      }
    }

    &:active {
      transition: none;
      background: $white-4;
      transform: translateY(2px);
    }
  }
}

.company-name {
  position: relative;
  height: 180px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $space-xxl;

  .company-name-bg {
    position: absolute;
    width: 100%;
  }

  .company-name-text {
    position: relative;
    color: $start-aside-bg;
    border: 1px solid $start-aside-bg;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;

    h1 {
      font-weight: 100;
      margin: 0;
      line-height: 1;
      margin-left: 5px;
      text-transform: uppercase;
      letter-spacing: 5px;
    }
  }
}

.saved-creds {
  font-size: 12px;

  h3 {
    padding-left: $space-m;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    font-size: 12px;
    position: relative;
    color: white;
    background: rgba(255, 255, 255, 0.12);
    padding: $space-xs;
    padding-left: $space-m;
    margin-bottom: 1px;
    line-height: 1.3;
    cursor: pointer;
    user-select: none;
    transition: background 300ms;
    display: flex;
    align-items: center;

    .host {
      font-weight: bold;
    }

    .arrow {
      position: absolute;
      right: 0;
      opacity: 0;
      transition: all 300ms;
    }

    .star {
      fill: $burnt-red;
      margin-right: $space-s;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.24);
      .arrow {
        opacity: 1;
        transition: all 500ms;
        transform: translateX(30px);
      }
    }

    &:active {
      background: rgba(255, 255, 255, 0.5);
      transition: background 100ms;

      .arrow {
        transition: all 100ms;
        transform: translateX(55px);
      }
    }
  }
}

.login-form {
  position: relative;
  z-index: 1;
  width: 300px;
  margin: 0 auto;
  margin-top: 200px;
  color: $gray-5;

  h1 {
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    margin-bottom: $space-l;
  }

  .status {
    color: $gray-1;
    border-radius: 3px;
    margin-bottom: $space-l;
    padding: $space-xxs;
    font-size: 12px;
    font-family: $mono-font;
    text-align: center;
  }
}

.deco-dots {
  opacity: 0.6;
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: -15px;
  left: 0;

  circle {
    fill: $start-aside-bg;
  }

  line {
    stroke: $white-5;
  }
}
