.viewer {
  overflow: visible;
  height: 0;
  width: 0;
  *::selection {
    background: transparent;
  }
}

.viewer .view {
  overflow: scroll;
  display: flex;
}

.viewer .list {
  position: relative;
}

.viewer .chunk {
  position: absolute;
}

.viewer .log-row {
  white-space: nowrap;
  contain: layout style;
  display: flex;
  font-family: $mono-font;
  font-size: 12px;
  white-space: nowrap;
  min-height: 25px;
  line-height: 25px;
  align-items: center;
  opacity: 1;

  &.even {
    background: $table-stripe-color;
  }

  &:hover {
    background: $table-stripe-hover;
  }

  &.highlight {
    background: $havelock;
    .field-cell {
      color: white;
    }
  }
}

.viewer .end-message {
  text-align: center;
  font-size: 12px;
  color: $white-9;
  line-height: 100px;
}

.viewer .field-cell {
  &.count,
  &.duration {
    text-align: right;
  }
}
