.log-cell {
  padding: 0 4px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 25px;
  display: flex;
  align-items: flex-start;
  @include type-colors;

  &.hover,
  &.active {
    position: relative;
  }
}

.cell-value-item {
  position: relative;
  padding: 0 1px;
  border: 1px solid transparent;
  height: 25px;

  &.selected {
    background: rgba(255, 255, 255, 0.25);
  }

  &:hover {
    z-index: 1;
    border: 1px dashed $gray-9;
  }
}

.cell-value-item:last-child {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.compound-field-extra {
  height: 25px;
  border: 1px solid transparent;
  color: $white-7;

  &.separator {
    margin-right: 6px;
  }
}
