.log-cell {
  padding: 0 6px;
  position: relative;
  border: 1px solid transparent;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 25px;

  @include type-colors;

  ._path {
    @include path-tag;
    width: 100%;
    min-width: 58px;
  }

  &.hover,
  &.active {
    position: relative;
    border: 1px dashed $gray-9;
  }
}

.log-cell.time {
  height: $bro-log-row-height;
  cursor: pointer;
  // font-family: $body-font;
  p {
    span {
      display: inline-block;
      padding: 0 6px;
    }

    .date {
    }
    .time {
    }
    .seconds {
    }
  }

  &.highlight {
    border-top: 1px dashed $white-9;
  }
}

.log-cell.count {
  text-align: right;
}
