.log-row {
  display: flex;
  font-family: $mono-font;
  font-size: 12px;
  white-space: nowrap;
  min-height: 25px;
  line-height: 25px;
  align-items: center;
  opacity: 1;

  &.even {
    background: darken(white, 2%);
  }

  &:hover {
    background: darken(white, 6%);
  }

  &.highlight {
    background: $light-gray-3;
  }
}
