.login {
  width: 100%;
  height: 100%;
  display: flex;
  color: $gray-5;

  .section-heading {
    font-size: $font-size-1;
    font-weight: normal;
    text-transform: uppercase;
    color: $gray-1;
  }

  .cluster-welcome {
    padding: 0 1.5rem;
    font-size: $font-size-2;
  }

  .brand {
    -webkit-app-region: drag;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;

    svg {
      filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.19));
    }

    h1 {
      margin: 0;
      margin-top: 1rem;
      font-size: $font-size-4;
    }

    span {
      margin: 0;
      font-size: $font-size-1;
    }
  }

  aside {
    width: 230px;
    background: linear-gradient(to bottom, $white-2, $white-3);
    border-right: 1px solid $white-4;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  main {
    flex: 1;
    padding: 60px 85px;
    position: relative;
  }
}

.saved-creds {
  flex: 1;
  display: flex;
  flex-direction: column;

  .section-heading {
    padding-left: $space-m;
    margin-bottom: 7px;
  }

  ul {
    flex: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
  }

  li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: $font-size-2;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: $space-m;
    line-height: 1.3;
    cursor: pointer;
    user-select: none;
    transition: background 100ms;

    &:last-child {
      border-bottom: none;
    }

    .host {
      font-weight: bold;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.03);
    }

    &:active {
      background: rgba(0, 0, 0, 0.1);
      transition: background 100ms;
    }

    &:after {
      content: " ";
      position: absolute;
      background: linear-gradient(to left, $white-4, transparent);
      bottom: 0;
      height: 1px;
      left: $space-m;
      right: $space-m;
    }
  }
}

.login-form {
  margin: 0 auto;

  .section-heading {
    text-align: center;
  }

  .input-submit {
    text-align: center;
    margin-top: 2rem;
  }

  .status {
    position: absolute;
    font-size: $font-size-2;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    background: linear-gradient(
      to top,
      lighten($yellow, 10%),
      $yellow 2%,
      $yellow-dark 98%,
      lighten($yellow, 10%)
    );
    margin: 0;
    padding: 0.25rem 1rem;
    text-align: center;
    color: $gray-9;
    border-radius: 3px;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.4);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      text-decoration: underline;
      cursor: pointer;
      margin-left: 1rem;
    }
  }
}

.deco-dots {
  opacity: 0.6;
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: -15px;
  left: 0;

  circle {
    fill: $white-9;
  }

  line {
    stroke: $white-5;
  }
}
