.menu-list {
  padding: 0;
  margin: 0;
  text-align: left;
  background-color: white;
  box-shadow: $high-box-shadow;
  max-width: 300px;
  z-index: 1;
  padding: 8px 0;

  a,
  li {
    font-size: 14px;
    font-family: $menu-font;
    font-weight: 400;
    padding: 8px 36px;
    color: $gray-7;
    list-style-type: none;
    display: block;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background-color: $white-2;
    }
  }

  hr {
    border: none;
    border-top: 1px solid $white-5;
    margin: 8px 0;
  }
}
