.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 2rem;
  padding-top: 4rem;
  z-index: 2;
}

.modal-contents {
  background: linear-gradient(to bottom, $white-1, $white-2);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  padding: 20px 20px 0 20px;
  color: $gray-5;
  border-radius: 5px;
  position: relative;
  width: 680px;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;

  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0);

  .modal-header {
    font-size: $font-size-4;
    margin-bottom: 20px;
    flex: 0 0 auto;
    min-height: 0;
  }

  .modal-body {
    display: flex;
    min-height: 0;
    flex-direction: column;
  }

  .close-button {
    position: absolute;
    top: 0;
    right: 0;
  }

  .button-row {
    flex: 0 0;
  }
}
