.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 2rem;
  transition: background-color 1s;
  z-index: 2;
}

.modal-contents {
  margin-top: 100px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 35px 10px fade-out($gray-3, 0.8);
  border-radius: 3px;
  width: 80%;
  padding: 1rem;
  padding-top: 2rem;
  position: relative;

  .close-button {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border-radius: 0;
    svg {
      fill: $gray-3;
    }
  }
}
