.new-tab-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;

  .logo {
    margin-top: 20px;
    svg {
      display: block;
      margin: 0 auto;
    }

    .brim-text {
      margin-top: 3px;
    }
  }

  section {
    width: 400px;
    margin: 20px auto;
    min-height: 0;
    flex-shrink: 0;

    &:last-child {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        opacity: 0;
        animation: fade-in 640ms ($i) * 120ms forwards;
      }
    }
  }

  label {
    display: block;
    @include label-bold;
    margin-bottom: 10px;
  }
}

@keyframes fade-in {
  from {
    transform: translate(0, -50px) scale(0.8);
    opacity: 0;
  }
  to {
    transform: translate(0px, 0px) scale(1);
    opacity: 1;
  }
}
