.new-tab-content {
  animation: fadein 300ms;
  background: linear-gradient(to bottom right, #f0f7ff, #fff8f5);
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 0 24px;

  .logo {
    margin: 60px auto;
    svg {
      display: block;
      margin: 0 auto;
    }
  }

  .input-methods {
    margin: 20px auto;
    margin-bottom: 50px;
    display: flex;
    min-height: 300px;

    section {
      min-width: 360px;
      max-width: 360px;
      min-height: 0px;
      display: flex;
      flex-direction: column;
    }

    .separator {
      min-width: 1px;
      height: 100%;
      margin: 0 24px;
      background: linear-gradient(
        to bottom,
        $white-5,
        transparentize($white-5, 0.7)
      );
    }
  }

  label {
    display: block;
    @include heading-section;
    margin-bottom: 24px;
  }
}
