.notifications {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 24px;
  pointer-events: none;

  .notification-enter {
    transform: translate(100%);
  }

  .notification-enter-active {
    transition: transform 200ms;
    transform: translate(0);
  }

  .notification-exit {
    transform: translate(0);
  }

  .notification-exit-active {
    transition: transform 200ms;
    transform: translate(100%);
  }

  .message-box {
    margin-bottom: 24px;
    pointer-events: all;
  }
}
