.notice-banner {
  @include error-bg;
  position: fixed;
  padding: $space-xxs $space-l;
  top: $space-m;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  white-space: nowrap;

  a {
    padding-left: $space-s;
    text-decoration: underline;
    cursor: pointer;
    user-select: none;

    &:hover {
      color: $gray-6;
    }

    &:active {
      color: inherit;
    }
  }
}
