.packet-post-progress {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;

  label {
    @include label-small;
    line-height: 24px;
    white-space: nowrap;
  }

  .progress-indicator {
    max-width: 220px;
    padding: 0 12px;
    width: 220px;
  }

  .group {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .warnings {
    height: 100%;
    padding: 0 12px;
    display: flex;
    fill: #f37406;
    align-items: center;
    svg {
      width: 14px;
    }
    label {
      min-width: 15px;
      margin-left: 5px;
      text-align: center;
      color: #f37406;
      @include label-small-bold;
      font-weight: 800;
    }
    &:not(.disabled):hover {
      background: rgba(0, 0, 0, 0.05);
    }
    &:not(.disabled):active {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  .warnings.disabled {
    pointer-events: none;
    svg {
      fill: $white-6;
    }
    label {
      color: $white-6;
    }
  }
}
