.panel-heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 12px;
  transform: translateX(-24px);
  user-select: none;

  & > * {
    margin: 0;
  }

  .burst-1,
  .burst-2 {
    background-color: $white-9;
  }
}

.panel-title {
  margin-left: 24px;
  color: $slate;
  @include heading-list;
}
