.panel-heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 12px;
  transform: translateX(-24px);
  user-select: none;

  & > * {
    margin: 0;
  }

  .burst-1,
  .burst-2 {
    background-color: $white-9;
  }
}

.panel-title {
  margin-right: 6px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: normal;
  padding: 3px 12px;
  color: white;
  background-color: $gray-5;
  border-right: 6px solid $gray-5;
  border-radius: 0 12px 12px 0;
  box-shadow: $box-shadow;
}
