$pane-background-color: $white-3;
$pane-border-color: $white-5;
$pane-header-height: 42px;
$pane-header-background-color: $white-5;

.pane {
  position: relative;
  background: $pane-background-color;
  display: flex;
  flex-direction: column;
}

.pane-header {
  user-select: none;
  position: relative;
  border-bottom: 1px solid $pane-border-color;
  svg {
    fill: $gray-7;
    stroke: $gray-7;
  }
  flex-shrink: 0;
  height: $pane-header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;

  .center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .right {
    display: flex;
  }
}

.pane-title {
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  margin: 0;
  font-weight: 700;
}

.pane-body {
  height: 100%;
  overflow: hidden;
}

.pane-left {
  border-right: 1px solid $pane-border-color;
}

.pane-right {
  border-left: 1px solid $pane-border-color;
}
