.pane {
  position: relative;
  display: flex;
  flex-direction: column;
}

.pane-header {
  user-select: none;
  position: relative;

  svg {
    fill: var(--slate);
  }

  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;

  .center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .right {
    display: flex;
  }
}

.pane-title {
  @include label-normal;
  text-align: center;
  margin: 0;
}

.pane-body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.pane-left {
  border-right: 1px solid var(--border-color);
}

.pane-right {
  border-left: 1px solid var(--border-color);
}
