.saved-spaces-list {
  background: white;
  box-shadow: inset 0 0 2px 0px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  user-select: none;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 0px;
  position: relative;
  margin-bottom: 50px;

  &:before {
    content: "";
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 22px;
    background: orange;
  }

  .item {
    @include label-normal;
    display: flex;
    align-items: center;
    position: relative;
    color: inherit;
    text-decoration: none;
    cursor: default;
    padding-left: 10px;

    &:hover {
      background: linear-gradient(
        to right,
        transparentize($white-5, 0.7),
        transparentize($white-5, 0.95)
      );
      .line {
        display: none;
      }
    }

    &:active {
      background: linear-gradient(
        to right,
        transparentize($white-5, 0.5),
        transparentize($white-5, 0.95)
      );
      transition: color 700ms 50ms;
      color: lighten($aqua, 35%);
    }
  }

  .file-icon {
    flex-shrink: 0;
  }

  .name {
    display: block;
    padding: 10px;
  }

  .line {
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    top: 0;
    transform: scaleY(0.5);
    background: linear-gradient(
      to right,
      $white-5,
      transparentize($white-5, 0.7)
    );
  }
}
