$page-background-color: $white-3;
$page-border-color: $white-4;

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.search-page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  animation: fadein 300ms;
}

.title-bar .pane-header {
  background: $white-3;
  border-color: transparent;
}

.search-page {
  display: flex;
  height: 100%;
}

.pane-left,
.pane-right {
  min-width: 240px;
  flex-shrink: 0;
}

.search-page-main {
  overflow: hidden;
  display: flex;
  flex-grow: 1;
  flex-flow: column;
  position: relative;
}

.search-page-header,
.search-results,
.status-bar,
.title-bar {
  min-width: 573px;
}

.search-page-header {
  background: $chrome-gradient;
  border-bottom: 1px solid $chrome-border;
  z-index: 1;
  -webkit-app-region: drag;
}

.search-page-header-charts {
  -webkit-app-region: no-drag;
  height: 80px;
  margin-bottom: 4px;
}
