.search-stats {
  display: flex;
  flex-flow: row-reverse;

  p {
    margin-right: 24px;
    width: 140px;
    color: $gray-warm-1;
    line-height: 25px;
  }

  .label {
    text-transform: uppercase;
    font-size: 9px;
    margin-right: 6px;
  }

  .number {
    margin-right: 6px;
    font-size: 12px;

    white-space: nowrap;
  }

  .secondary-number {
    font-size: 9px;
  }

  .number,
  .secondary-number {
    font-family: $mono-font;
  }
}
