.search-bar {
  display: flex;

  .looky-face {
    margin-right: $base-space;
  }

  .search-builder {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
  }

  .search-inputs {
    display: flex;
    flex: 1;
    box-shadow: $box-shadow;
    border-radius: 3px;

    .search-input {
      flex: 1;
    }
  }

  .search-button {
    margin-left: $base-space;
  }

  .pins {
    flex-basis: 100%;
  }
}
