.search-stats {
  display: flex;
  position: absolute;
  top: -25px - 12px;
  left: 24px;

  p {
    margin-right: 24px;
    min-width: 100px;
    color: $gray-1;
    line-height: 25px;
  }

  .label {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 9px;
    margin-right: 6px;
  }

  .number {
    margin-right: 6px;
    font-size: 12px;
    color: $green-5;
  }

  .secondary-number {
    font-size: 9px;
  }

  .number,
  .secondary-number {
    font-family: $mono-font;
  }
}
