.search-bar {
  display: flex;

  .search-builder {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
  }

  .search-inputs {
    display: flex;
    flex-basis: 100%;
    box-shadow: $box-shadow;
    border-radius: 3px;

    .search-input {
      flex: 1;
    }
  }

  .search-button {
    margin-left: $base-space;
  }

  .error-message {
    display: flex;
    align-items: center;
    color: white;
    background: $green;
    font-size: 11px;
    padding: 6px 12px;
    margin: 0 12px;
    box-shadow: $box-shadow;
    border-radius: 0 0 3px 3px;
    font-family: $mono-font;

    svg {
      fill: white;
      height: 16px;
      width: 16px;
      margin-right: 12px;
    }
  }
  .pins {
    flex-basis: 100%;
  }
}
