.search-results {
  display: flex;
  flex-direction: column;
  border: none;
  position: relative;
  flex: 1;
}

.no-results {
  text-align: center;
  margin-top: 100px;

  .fieldset {
    color: $white-9;
    display: inline-block;
  }

  circle {
    fill: $white-9 !important;
  }
}
