.search-stats {
  display: flex;

  p {
    color: $gray-warm-1;
    line-height: 25px;
    display: flex;
    align-items: center;
    min-width: 150px;
  }

  .label {
    text-transform: uppercase;
    font-size: 9px;
    margin-right: 6px;
    padding-left: 6px;
    display: inline-block;
    border-left: 2px solid $gray-warm-5;
  }

  .number {
    margin-right: 24px;
    display: inline-block;
    font-size: 12px;
    white-space: nowrap;
  }

  .secondary-number {
    font-size: 9px;
  }

  .number,
  .secondary-number {
    font-family: $mono-font;
  }
}
