.search-button-wrapper {
  padding: 0;
  height: 34px;
  display: flex;
  position: relative;
  margin-right: 6px;

  .context-menu {
    right: 0;
    top: 34px + $base-space;
  }
}

.search-button,
.options-button {
  height: 34px;
  svg {
    height: 34px;
  }
}

.search-button {
  padding: 0 12px;
  border-radius: 3px 0 0 3px;
  border-right: 1px solid white;

  svg {
    width: 22px;
  }
}

.options-button {
  padding: 0 3px;
  border-radius: 0 3px 3px 0;
  svg {
    width: 9px;
  }
}

.debug-query-modal {
  .small-heading {
    margin: 0;
  }

  .code {
    margin-bottom: 0;
    margin-top: 12px;
  }

  .debug-modal-input {
    margin-top: 12px;
    margin-bottom: 24px;
    width: 100%;
  }
}
