.search-inspector {
  box-shadow: 0 -2px 1px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  background: white;

  header {
    height: 36px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white-3;
    color: $gray-9;
    border-bottom: 1px solid $white-5;
    @extend .pane-title;
  }

  section {
    padding: 12px 6px;
  }

  .close-button {
    transform: scale(0.75);
    position: absolute;
    right: 6px;
    top: 3px;
  }

  .empty {
    font-size: 14px;
    color: $white-9;
    text-align: center;
  }
}
