.search-results {
  display: flex;
  flex-direction: column;
  border: none;
  position: relative;
  flex: 1;
}

.no-results {
  text-align: center;
  margin-top: 100px;

  .fieldset {
    font-family: $data-font;
    color: $white-9;
    padding: $leading/2 $leading;
    display: inline-block;
    border-top: 1px solid $white-5;
    border-bottom: 1px solid $white-5;
  }

  circle {
    fill: $white-9 !important;
  }
}
