$page-background-color: $light-gray-2;
$page-border-color: $light-gray-3;

.search-page {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.search-page-window {
  flex: 1 1 auto;
  display: flex;
}

.search-page-sidebar-left {
  overflow: scroll;
  background-color: $page-background-color;
  flex: 0 0 300px;
  border-right: 1px solid $page-border-color;
}

.search-page-main {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
}

.search-page-header {
  background-color: $page-background-color;
  border-bottom: 1px solid $page-border-color;
}

.search-page-header-charts {
  height: 80px;
}

.search-page-body {
  flex: 1 1 auto;
  display: flex;
}

.search-page-results {
  flex: 1 1 auto;
}

.pane {
  position: relative;
}

.search-page-sidebar-right {
  width: 420px;
  background-color: $page-background-color;
  overflow-y: scroll;
  height: 100%;
  border-left: 1px solid $page-border-color;
}

.search-page-footer {
  background-color: $page-background-color;
  border-top: 1px solid $page-border-color;
}
