.search-input {
  flex: 1;
  position: relative;

  input#main-search-input {
    min-height: 32px;
    border-radius: 16px;
    box-shadow: none;
    color: $gray-7;
    border: none;
    font-size: 12px;
    font-family: $mono-font;
    outline: none;
    width: 100%;
    padding: 6px 16px;
    padding-right: 37px;
    box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.5);
  }

  .three-dot-button {
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .input-action {
    position: absolute;
    right: 37px + 4px;
    background: linear-gradient($blue, $blue);
    border-radius: 3px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.3px;
    line-height: 14px;
    top: 6px;
    padding: 3px 12px;
    font-size: 10px;
    border: none;

    &:active {
      background: $blue-dark;
    }
  }
}
