$page-background-color: $light-gray-2;
$page-border-color: $light-gray-3;

.search-page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title-bar .pane-header {
  background: $light-gray-2;
  border-color: transparent;
}

.search-page {
  display: flex;
  height: 100%;
}

.pane-left,
.pane-right {
  min-width: 240px;
  flex-shrink: 0;
}

.search-page-main {
  flex-grow: 1;
  overflow-x: scroll;
  display: flex;
  flex-flow: column;
}

.search-page-header,
.search-results,
.status-bar {
  min-width: 500px;
}

.search-results {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;

  & > * {
    flex: 1;
  }

  .error-boundary {
    background: none;
    .body-content {
      box-shadow: none;
      background: none;
    }
  }
}

.search-page-header {
  background-color: $page-background-color;
  border-bottom: 1px solid $page-border-color;
  z-index: 2;
}

.search-page-header-charts {
  height: 80px;
}
