$page-background-color: $white-3;
$page-border-color: $white-4;

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pane-left {
  min-width: 230px;
  flex-shrink: 0;
}

.pane-right {
  min-width: 240px;
  flex-shrink: 0;
}

.search-page-header,
.search-results,
.status-bar {
  min-width: 573px;
}
