.search-results {
  display: flex;
  flex-direction: column;
  border: none;
  position: relative;
  flex: 1;
}

.no-results {
  text-align: center;
  margin-top: 100px;

  .fieldset {
    color: $gray-warm-4;
    padding: $leading/2 $leading;
    display: inline-block;
    border-top: 1px solid $light-gray-3;
    border-bottom: 1px solid $light-gray-3;
  }
}
