.select-pcaps {
  width: 100%;
  height: 100%;
  display: flex;
  user-select: none;

  aside {
    background: $chrome-gradient;
    border-right: 1px solid $chrome-border;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 16px 16px 16px;
    flex: 0 0 200px;
  }

  main {
    flex: 0 0 400px;
    padding: 50px;
  }

  h1 {
    @include heading-1;
    margin-bottom: 50px;
  }

  p {
    @include label-normal;
  }
}
