.settings-modal {
  min-width: 500px;

  .settings-form {
    border-radius: 3px;

    a {
      text-decoration: underline;
      cursor: pointer;
      @include label-small;
    }

    input,
    select {
      width: 240px;
    }

    .setting-panel {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 12px;
      height: 48px;
      border-bottom: 1px solid var(--ivory);
      position: relative;

      &:last-child {
        border: none;
      }
    }
  }

  .errors {
    h4 {
      margin-bottom: 0.25rem;
    }
    ul {
      margin-top: 1rem;
      line-height: 1.5;
    }
    a {
      color: var(--red);
      cursor: pointer;
      text-decoration: underline;
    }
    p {
      margin: 0;
      @include label-small;
    }
  }

  .feedback {
    position: absolute;
    right: 12px;
    top: 1px;
    margin: 0;
    @include label-small;
    line-height: 14px;
    background: var(--havelock);
    color: white;
    padding: 0 6px;
    border-radius: 4px;
    animation: fadein 300ms;
    z-index: 1;
  }
}
