.settings-modal {
  max-width: 600px;
}

.settings {
  form {
    margin-top: $base-space * 4;
    label {
      @extend .small-heading;
      display: block;
      margin-bottom: 6px;
    }
    select {
      font-size: 14px;
    }

    button[type="submit"] {
      margin: 0;
      background: $green-3;
      border: none;
      color: white;
      font-size: 14px;
      text-transform: uppercase;
      padding: 6px 12px;
      border-radius: 3px;
      box-shadow: $box-shadow;
      &:active {
        transform: translateY(2px);
      }
    }
  }

  form > div {
    margin-bottom: $base-space * 2;
  }

  form > div:last-child {
    margin-bottom: 0;
  }
}
