.settings-form {
  border: 1px solid $white-3;
  border-radius: 3px;

  select {
    border: none;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 240px;
  }

  label {
    @include label-normal;
  }

  .file-input-picker {
    display: flex;
    align-items: center;
    button {
      width: auto;
      margin-right: 3px;
    }
    input {
      padding-left: 3px;
      height: 24px;
      flex: 1;
      width: 240px;
    }
  }
}

.setting-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  height: 48px;
  border-bottom: 1px solid $white-3;
  position: relative;

  &:last-child {
    border: none;
  }

  label.label {
    font-weight: bold;
    font-size: $font-size-1;
  }

  .error-message {
    @include label-small;
    background: $brand-orange;
    color: white;
    position: absolute;
    left: 12px;
    bottom: -15px;
    padding: 1px 6px;
    border-radius: 4px;
    animation: fadein 500ms;
  }
}
