.settings-modal {
  min-width: 500px;

  .settings-form {
    background: white;
    border: 1px solid $white-3;
    border-radius: 10px;

    a {
      text-decoration: underline;
      cursor: pointer;
      @include label-small;
    }

    input,
    select {
      width: 240px;
    }

    .setting-panel {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 12px;
      height: 48px;
      border-bottom: 1px solid $white-3;
      position: relative;

      &:last-child {
        border: none;
      }
    }
  }

  .errors {
    h4 {
      margin-bottom: 0.25rem;
    }
    ul {
      margin-top: 1rem;
      line-height: 1.5;
    }
    a {
      color: $red;
      cursor: pointer;
      text-decoration: underline;
    }
    p {
      margin: 0;
      @include label-small;
    }
  }

  .feedback {
    position: absolute;
    right: 24px;
    top: -11px;
    @include label-small;
    background: $blue;
    color: white;
    padding: 0 6px;
    border-radius: 3px 3px 0 0;
    animation: fadein 300ms;
  }
}
