.span-pickers {
  margin-left: 3px;
  .thin-button:hover {
    background: #dcdcdc;
  }

  .DayPickerInput {
    height: 19px;
  }
  .time-input {
    padding: 0 5px;
  }
  .day-input,
  .time-input {
    background: none;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    outline: none;
    transition: all 100ms;
    text-align: center;
    &:hover {
      background-color: $white-2;
    }
    &:focus {
      background-color: white;
    }
  }
  .span-drop-menu {
    display: flex;
  }
}
