.spaces-page-wrapper {
  max-width: 570px;
  margin: 0 auto;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.no-spaces {
  margin-top: 120px;
  text-align: center;
}

.spaces-list {
  padding: 0;
  margin: 0;
}

.space-info {
  width: 100%;
  margin-bottom: 48px;
  cursor: pointer;
  h3 {
    color: $yellow-3;
  }
  transition: all 100ms;

  &:hover {
    transform: scale(1.01);
  }

  &:active {
    transform: scale(1);
  }
}
