.space-switcher {
  margin: $base-space 0;
  margin-top: $base-space * 3;

  .tiny-heading {
    margin: $base-space;
    margin-bottom: $base-space/2;
  }

  .current-space-name {
    font-size: 14px;
    font-weight: normal;
    color: white;
    cursor: pointer;
    position: relative;
    display: block;
    padding: $base-space;
    line-height: 1;
    margin: 0;
    margin-top: $base-space/2;

    svg {
      width: 8px;
      height: 8px;
      * {
        fill: white;
        stroke: white;
      }
      margin-left: $base-space;
      margin-top: 2px;
    }

    &:hover {
      background: $gray-2;
    }
  }
}
