.space-switcher {
  margin: $space-s 0;
  margin-top: $space-s * 3;

  .tiny-heading {
    margin: $space-s;
    margin-bottom: $space-s/2;
  }

  .current-space-name {
    font-size: 14px;
    font-weight: normal;
    color: white;
    cursor: pointer;
    position: relative;
    display: block;
    padding: $space-s;
    line-height: 1;
    margin: 0;
    margin-top: $space-s/2;

    svg {
      width: 8px;
      height: 8px;
      * {
        fill: white;
        stroke: white;
      }
      margin-left: $space-s;
      margin-top: 2px;
    }

    &:hover {
      background: $gray-5;
    }
  }
}
