.startup-error-wrapper {
  padding-top: 120px;
  display: flex;
  justify-content: center;

  .message-box {
    width: 100%;
  }

  .actions {
    text-decoration: underline;
    a {
      display: block;
      margin: 24px;
    }
  }
}
