.status-bar {
  user-select: none;
  background: $chrome-gradient;
  border-top: 1px solid $chrome-border;
  position: relative;
  overflow: hidden;
  height: 26px;
  flex-shrink: 0;

  p {
    transition: color 1750ms;
  }

  .loading-message {
    margin-right: 12px;
  }

  label {
    display: block;
    padding: 0 4px;
  }
}
