.status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $page-background-color;
  border-top: 1px solid $page-border-color;
  position: relative;
  overflow: hidden;
  transition: background-color 500ms;

  &.loading {
    transition: background-color 500ms;
    background-color: $green-3;
    animation: pulse-green-bg 500ms ease-in-out infinite alternate;
    p {
      color: white;
    }
    .ring-1,
    .ring-2 {
      background-color: white;
    }

    .label,
    .number {
      transition: all 500ms;
      color: white;
    }
  }
}

@keyframes pulse-green-bg {
  from {
    background-color: $green-3;
  }
  to {
    background-color: $green-4;
  }
}
