/* Typeography */
$gray-warm-1: #332d28;
$gray-warm-2: #665d54;
$gray-warm-3: #948b82;
$gray-warm-4: #bfbab4;
$gray-warm-5: #dfe0e6;

$gray-cold-1: #282a33;
$gray-cold-2: #545866;
$gray-cold-3: #828694;
$gray-cold-5: #f5f5f7;
$gray-cold-4: #c5c7d1;

$white-20: rgba(255, 255, 255, 0.2);
$black-20: rgba(0, 0, 0, 0.2);

$accent-blue: #416b9c;

$table-stripe-color: darken(white, 2%);
$table-stripe-hover: darken(white, 6%);

@mixin fills-transparent-dark {
  background-color: transparentize(#545866, 0.03);
}

@mixin fills-accent-red {
  background-color: #d93347;
}

@mixin fills-accent-blue {
  background-color: $blue-3;
}

@mixin shadow-medium {
  box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.5);
}

@mixin shadow-flat {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

@mixin shadow-small {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

@mixin fills-transparent-black-20 {
  background-color: rgba(0, 0, 0, 0.2);
}

@mixin fills-transparent-white-20 {
  background-color: rgba(255, 255, 255, 0.2);
}

@mixin fills-light-inset {
  background-color: rgba(0, 0, 0, 0.04);
  box-shadow: inset 0px 0px 2px 0 rgba(0, 0, 0, 0.1);
  padding: 12px 24px;
}

@mixin fills-gray-warm-5 {
  background-color: #dfe0e6;
}

@mixin fills-gray-cold-5 {
  background-color: #f5f5f7;
}

@mixin fills-gray-cold-2 {
  background-color: #545866;
}

@mixin color-light-cold {
  color: #c5c7d1;
}

@mixin color-dark-cold {
  color: #545866;
}

@mixin input-primary {
  background-color: white;
  border: 1px solid #dfe0e6;
  border-radius: 3px;
}

@mixin input-secondary {
  background-color: #dcdcdc;
  &:hover {
    background: darken(#dcdcdc, 5%);
  }

  &:active,
  .active {
    background: darken(#dcdcdc, 10%);
  }
}

.title {
  font-family: $heading-font;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 29px;
  margin: 0;
}

.header {
  font-family: $heading-font;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}

.paragraph {
  font-family: $body-font;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.code-text {
  font-family: $mono-font;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin: 0;
}

.code {
  display: inline-block;
  font-family: $mono-font;
  font-size: 12px;
  line-height: 14px;
  padding: 3px 6px;
  margin: 0;

  &.full {
    width: 100%;
  }

  &.light {
    @include fills-light-inset;
  }
}

.fieldset {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 15px;
  margin: 0;
  font-family: $body-font;
}

.subscript {
  font-family: $body-font;
  font-size: 9px;
  font-weight: normal;
  line-height: 11px;
  margin: 0;
}

.label {
  font-family: $body-font;
  font-size: 12px;
  line-height: 15px;
  font-weight: normal;
  margin: 0;
}

.link {
  font-family: $body-font;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  text-decoration: underline;
  cursor: pointer;

  color: $blue;

  &:hover {
    color: darken($blue, 20%);
  }

  &:active {
    color: darken($blue, 30%);
  }

  &.yellow {
    color: $yellow-3;

    &:hover {
      color: $yellow-4;
    }
    &:active {
      color: $yellow-5;
    }
  }
}

// Variations

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}
