.tab-spinner {
  stroke: $blue;
  fill: none;
  stroke-width: 2px;
  stroke-linecap: round;
  transform-origin: center;
  animation: spin linear 2000ms infinite;
  width: 20px;
  height: 20px;
  circle {
    transform-origin: center;
  }
}

@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
