$tab-inactive-color: orange;
$tab-inactive-bg: red;
$tab-hover-color: blue;
$tab-hover-bg: yellow;
$tab-active-color: var(--aqua);
$tab-active-bg: white;
$tab-border-radius: 4px;
$tab-transition-duration: 200ms;

.tab {
  position: absolute;
  left: 0;
  user-select: none;
  -webkit-app-region: no-drag;
  height: 100%;
  background: $tab-inactive-bg;
  cursor: default;
  will-change: transform;
  transition: none;
  border-radius: $tab-border-radius $tab-border-radius 0 0;

  .tab-content {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
  }

  .loading {
    position: absolute;
    left: 10px;
    top: 6px;
    transform: translateX(-30px);
  }

  // Title
  .title {
    font-family: system-ui;
    font-size: 14px;
    margin: 0;
    font-weight: 400;
    color: $tab-inactive-color;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
    flex: 1;
  }

  // Close x icon
  .close-button {
    width: 17px;
    height: 17px;
    min-width: 17px;
    margin-right: 10px;

    svg {
      width: 9px;
      height: 9px;
      fill: $tab-inactive-color;
    }

    &:after {
      content: "";
      width: 17px;
      height: 17px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      transform: scale(0);
    }

    &:hover {
      svg {
        fill: white;
      }

      &:after {
        transition: transform 100ms;
        transform: scale(1);
      }
    }

    &:active:after {
      background: rgba(255, 255, 255, 0.3);
    }
  }

  // The hover state
  &:hover {
    background-color: $tab-hover-bg;

    .title {
      color: $tab-hover-color;
    }

    .close-button svg {
      fill: $tab-hover-color;
    }
  }

  // The active state
  &.active {
    background: $tab-active-bg;
    z-index: 1;

    .title {
      color: $tab-active-color;
    }

    .close-button {
      svg {
        fill: $tab-active-color;
      }

      &:after {
        background: rgba(0, 0, 0, 0.1);
      }

      &:active:after {
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }

  &.is-new.active {
    background: white;
  }

  &.preview {
    font-style: italic;
  }
}
