.tab-welcome {
  animation: fadein 300ms;
  background: $gray-to-white;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 0 70px;

  a {
    color: $blue-dark;
    text-decoration: underline;
    cursor: pointer;
  }

  .brim-text-logo {
    margin: 60px auto;
  }

  .space-deleted {
    margin: 10px auto;
  }

  .input-methods {
    margin: 20px auto;
    margin-bottom: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    min-height: 300px;

    section {
      flex: 1;
      min-height: 0px;
      min-width: 200px;
      max-width: 460px;
      display: flex;
      flex-direction: column;
    }

    .separator {
      min-width: 1px;
      max-width: 1px;
      width: 1px;
      height: 100%;
      margin: 0 24px;
      background: linear-gradient(
        to bottom,
        $white-5,
        transparentize($white-5, 0.7)
      );
    }
  }

  label {
    display: block;
    @include heading-section;
    margin-bottom: 24px;
    user-select: none;
    padding-left: 2px;
  }

  footer {
    padding-left: 2px;
    @include label-small;
  }
}
