$tab-inactive-color: var(--foreground-color);
$tab-inactive-bg: transparent;
$tab-hover-color: var(--foreground-color);
$tab-hover-bg: var(--tab-background-hover);
$tab-active-color: var(--aqua);
$tab-active-bg: var(--chrome-color);
$tab-transition-duration: 200ms;

.tab {
  position: absolute;
  left: 0;
  user-select: none;
  -webkit-app-region: no-drag;
  height: 100%;
  background: $tab-inactive-bg;
  cursor: default;
  will-change: transform;
  transition: none;
  box-shadow: 1px 0 0 0 var(--border-color),
    inset 0 -1px 0 0 var(--border-color);

  .tab-content {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
    opacity: 0.75;
  }

  .icon {
    margin-left: 24px;
    margin-right: 8px;
  }

  // Title
  .title {
    font-family: system-ui;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    font-weight: 400;
    color: $tab-inactive-color;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
  }

  // Close x icon
  .close-button {
    margin-right: 10px;
    position: relative;

    &:hover {
      background: rgba(0, 0, 0, 0.3);
    }
  }

  // The hover state
  &:hover {
    background-color: $tab-hover-bg;
    box-shadow: inset -1px 0 var(--border-color), -1px 0 var(--border-color),
      inset 0 -1px var(--border-color);

    .title {
      color: $tab-hover-color;
    }

    .close-button svg {
      fill: $tab-hover-color;
    }

    .tab-content {
      opacity: 0.9;
    }
  }

  // The active state
  &.active {
    background: $tab-active-bg;
    z-index: 1;
    box-shadow: 1px 0 var(--border-color), -1px 0 var(--border-color),
      0 1px $tab-active-bg;

    .title {
      color: $tab-active-color;
    }

    .tab-content {
      opacity: 1;
    }

    .close-button {
      svg {
        fill: $tab-active-color;
      }

      &:after {
        background: rgba(0, 0, 0, 0.1);
      }

      &:active:after {
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }

  &.is-new.active {
    background: white;
  }

  &.preview {
    font-style: italic;
  }
}
