.table {
  border-collapse: collapse;
  width: 100%;

  tbody tr:nth-child(odd) {
    background: $table-stripe-color;
  }

  tbody tr:hover {
    background: $table-stripe-hover;
  }

  th,
  td {
    padding: 3px 6px;
  }

  th {
    text-align: left;
    font-size: 9px;
    font-weight: bold;
    color: $gray-warm-2;
  }

  td {
    @extend .code-text;
    @include type-colors;
  }
}

.vertical-table {
  th,
  td {
    word-break: break-word;
  }

  th {
    width: 120px;
    white-space: nowrap;
    border-radius: 3px 0 0 3px;
  }

  td {
    border-radius: 0 3px 3px 0;
  }
}

.horizontal-table {
  td {
    word-break: break-all;
  }

  .count {
    text-align: right;
    word-break: keep-all;
  }
}
