.tab-welcome {
  animation: fadein 300ms;
  background: linear-gradient(to bottom, white 25%, $snow);
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 0 70px;

  a {
    color: $blue-dark;
    text-decoration: underline;
    cursor: pointer;
  }

  .brim-text-logo {
    margin: 60px auto;
  }

  .space-deleted {
    margin: 10px auto;
  }

  section {
    max-width: 460px;
    width: 100%;
    margin: 0 auto;
  }

  .input-methods {
    margin: 0 auto 20px auto;
    display: flex;
    width: 100%;
    justify-content: center;
    min-height: 300px;

    section {
      flex: 1;
      min-height: 0px;
      min-width: 200px;
      max-width: 460px;
      display: flex;
      flex-direction: column;
    }
  }

  h2 {
    display: block;
    @include heading-section;
    margin-bottom: 24px;
    user-select: none;
    padding-left: 2px;
  }

  footer {
    padding-left: 2px;
    @include label-small;
  }
}
