$tab-hover-color: rgba(255, 255, 255, 0.1);
$tab-bg-color: linear-gradient($gray-3, $gray-5);

.tab-bar {
  display: flex;
  height: 42px;
  padding-left: 70px;
  padding-right: 30px;
  background: $tab-bg-color;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
  box-shadow: inset 0px -0.5px 0px 0px rgba(0, 0, 0, 0.5);

  .add-tab {
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    align-items: center;
    color: $white-4;
    border-radius: 50%;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 2px;
    font-size: 24px;
    cursor: default;
    user-select: none;
    transition: none;
    &:hover {
      transition: all 300ms;
      color: $white-1;
      background: rgba(255, 255, 255, 0.2);
    }

    &:active {
      transition: none;
      background: rgba(255, 255, 255, 0.3);
    }
  }
}
