.text-content {
  @include label-normal;

  & > * {
    margin: 0;
    margin-bottom: 20px;
  }

  pre {
    background: $coconut;
    padding: 12px 24px;
    overflow: hidden;
    font-size: 11px;
  }
}
