.text-content {
  @include label-normal;

  & > * {
    margin: 0;
    margin-bottom: 20px;
  }

  pre {
    background: $white-3;
    border: 1px solid $white-5;
    padding: $space-xs $space-s;

    overflow: hidden;
    font-size: $font-size-1;
  }
}
