.time-window-picker {
  display: inline-block;
  font-size: 14px;
  white-space: nowrap;
  background: $light-gray-2;
  border-left: 1px solid $light-gray-3;
  border-radius: 0 3px 3px 0;
  color: $gray-3;

  .divider {
    text-align: center;
    padding: 0 3px;
  }

  input {
    display: inline-block;
    box-shadow: none;
    background: transparent;
    border-radius: 0px;
    text-align: center;
  }

  .text-input-wrapper {
    display: inline-block;
  }

  .DayPickerInput input {
  }

  .time-picker input {
  }
}
