.title-bar {
  height: 36px;
  display: flex;
  background-color: $gray-cold-5;
  justify-content: center;
  .host {
    font-family: $mono-font;
    line-height: 13px;
    margin-top: 4px;
    margin-right: 6px;
    margin-left: 68px;
    // text-decoration: none;
    background-color: transparent;
    color: $gray-warm-1;

    // color: $gray-;
    // padding: 0 6px;
    cursor: pointer !important;
    &:hover {
      color: $gray-warm-2;
    }
  }
}
