.title-bar {
  height: 36px;
  display: flex;
  background-color: $white-3;
  justify-content: center;
  -webkit-user-select: none;
  cursor: pointer;

  .host {
    font-family: $mono-font;
    line-height: 13px;
    margin-top: 8px;
    margin-right: 6px;
    background-color: transparent;
    color: $gray-9;

    &:hover {
      color: $gray-6;
    }
  }
}
