.tool-tip {
  position: fixed;
  background: $gray-9;
  font-family: $data-font;
  color: white;
  font-size: 12px;
  line-height: 18px;
  padding: 0 3px;
  border-radius: 3px;
  z-index: 1;
  pointer-events: none;
  user-select: none;
  box-shadow: $box-shadow;
}

.tip {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: $space-xs;
  border-radius: 3px;
  width: 200px;
  .stats {
    float: right;
  }
}
