.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  user-select: none;

  & > * {
    margin-right: 8px;
    &:last-child {
      margin-right: 0;
    }
  }

  label {
    @include label-small;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3px;
    color: $slate;
  }

  .toolbar-group {
    display: flex;
    & > * {
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .packets-button .toolbar-button svg {
    stroke: none;
    fill: $brand-blue-light;
  }
}
