.toolbar-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4px;
  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
  user-select: none;

  label {
    margin-top: 3px;
    @include label-small;
    color: $slate;
  }

  &.disabled {
    label {
      opacity: 0.5;
    }
    svg {
      opacity: 0.25;
    }
  }
}

.toolbar-button {
  @include toolbar-button-style;
  width: 100%;
  min-width: 48px;
  -webkit-app-region: no-drag;
  height: 22px;
  padding: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    display: flex;
    margin: 0 4px;
    svg {
      fill: $slate;
      height: 16px;
    }
  }

  .text {
    @include label-small;
    display: flex;
    line-height: 16px;
    height: 16px;
    padding: 0 4px;
  }

  .dropdown-arrow {
    display: flex;
    height: 16px;
    stroke: $slate;
    stroke-width: 3px;
    transition: transform 500ms;
    margin: 0 4px;
  }
}
