.uid-waterfall {
  width: 100%;

  .waterfall-row {
    display: flex;
    align-items: center;
    padding-bottom: 3px;
  }

  .ts-label,
  .duration {
    font-size: 9px;
    color: $gray-warm-2;
    font-weight: bold;
    padding: 3px 6px;
  }

  .slider {
    flex: 1;
    position: relative;
    padding-right: 58px; // size of the path-tags
  }

  .line {
    display: block;
    position: absolute;
    border-top: 1px solid $table-stripe-hover;
    width: 100%;
    top: 50%;
  }

  .path-tag {
    cursor: pointer;
    position: relative;
    left: 0%;

    &:active {
      transform: translateY(2px);
    }
  }
  .path-tag.conn-bg-color {
    width: calc(100% + 58px);
  }

  .path-tag.current {
    outline: 2px dotted $light-gray-4;
  }

  .duration {
    font-family: $body-font;
    margin: $base-space 0 0 0;
    padding: 0;
    text-align: right;
  }
}
