.form label {
  display: block;
  font-weight: bold;
  color: var(--fg-color-less);
  opacity: 0.9;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-size: 78%;
}

.form input,
.form textarea,
.form select {
  display: block;
  width: 100%;
  max-width: 100%;
  border-radius: var(--form-border-radius);
  background: var(--form-bg-color);
  border: var(--form-border);
  line-height: var(--form-line-height);
  padding: var(--s-2);
}

.form select {
  width: auto;
  padding-inline-end: var(--s3);
}

.form input:disabled {
  background: var(--border-color);
  background: transparent;
  border-color: transparent;
  color: currentColor;
}

.form fieldset {
  border: none;
  margin-left: 6px;
  border-left: 1px solid var(--border-color);
  padding: 18px;
  display: grid;
  gap: var(--form-field-gap);
}

.form .fields {
  display: flex;
  flex-direction: column;
  gap: var(--form-field-gap);
}

.form .horizontalFields {
  flex-direction: column;
  gap: var(--form-field-gap);
  display: flex;
}

.form .horizontalFields > * {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form .horizontalFields > * > *:not(label) {
  max-width: 50%;
}

.form select {
  appearance: none;
  background-image: url(/select-input-arrow.svg);
  background-repeat: no-repeat;
  background-size: 1.2em 1.2em;
  background-position: calc(100% - 10px) center;
}

.form .cancel {
  text-decoration: underline;
  cursor: pointer;
}

.form .submit {
  height: var(--form-height);
  border-radius: var(--form-border-radius);
  background: var(--form-bg-color);
  line-height: var(--form-line-height);
  padding: var(--form-padding);
  background: var(--primary-color);
  border: 1px solid var(--primary-color-dark);
  color: white;
  font-weight: 500;
  min-width: 80px;
  user-select: none;
}

.form .submit:hover:not(:disabled) {
  background: var(--primary-color-dark);
}

.form .submit:active:not(:disabled) {
  box-shadow: none;
  transform: translateY(1px);
}

.form .button:active:not(:disabled) {
  background: var(--primary-color-darker);
}

.form .button {
  height: var(--form-height);
  border-radius: var(--form-border-radius);
  background: var(--form-bg-color);
  line-height: var(--form-line-height);
  padding: var(--form-padding);
  border: 1px solid var(--border-color);
  box-shadow: 0 3px 4px -4px var(--bg-color-less);
  font-weight: 500;
  min-width: 80px;
  user-select: none;
}

.form .button:hover:not(:disabled) {
  background: var(--form-bg-color-dark);
}

.form .button:active:not(:disabled) {
  background: var(--form-bg-color-darker);
}

.form .button:active:not(:disabled) {
  box-shadow: none;
  transform: translateY(1px);
}

.form .button:disabled,
.form .submit:disabled {
  opacity: 0.4;
  cursor: no-drop;
}

.form input[type="checkbox"] {
  appearance: none;
  margin: 0;
  width: 1.15em;
  height: 1.15em;
  border-radius: 0.15em;
}

.form .actionLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: var(--form-border-radius);
}

.form .actionLabel a {
  text-decoration: underline;
  cursor: pointer;
  color: var(--fg-color-less);
}

.form .radioInput {
  display: grid;
  grid-template-columns: 1.1em auto;
  align-items: center;
  padding: var(--s-5);
  gap: var(--s-1);
  cursor: pointer;
}

.form .radioInput input {
  min-height: auto;
  height: var(--s1);
  width: var(--s1);
}

.form .radioInput label {
  font-size: var(--s0);
  text-transform: none;
  color: var(--color-fg);
  letter-spacing: 0;
  font-weight: normal;
  cursor: pointer;
  user-select: none;
}

.form .submission {
  display: flex;
  justify-content: space-between;
  margin-top: calc(var(--form-field-gap) * 3);
}

.form .error {
  background: #fde2d8;
  color: #a81f07;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
