.form .submit {
  border-radius: var(--form-border-radius);
  background: var(--form-bg-color);
  line-height: var(--form-line-height);
  background: var(--primary-color);
  border: 1px solid var(--primary-color-dark);
  color: white;
  font-weight: 500;
  min-width: 80px;
  user-select: none;
}

.form .submit:hover:not(:disabled) {
  background: var(--primary-color-dark);
}

.form .submit:active:not(:disabled) {
  box-shadow: none;
  transform: translateY(1px);
}

.form .button:active:not(:disabled) {
  background: var(--primary-color-darker);
}

.form .button:hover:not(:disabled) {
  background: var(--form-bg-color-dark);
}

.form .button:active:not(:disabled) {
  background: var(--form-bg-color-darker);
}

.form .button:active:not(:disabled) {
  box-shadow: none;
  transform: translateY(1px);
}

.form .button:disabled,
.form .submit:disabled {
  opacity: 0.4;
  cursor: no-drop;
}

.form input[type="checkbox"] {
  appearance: none;
  margin: 0;
  width: 1.15em;
  height: 1.15em;
  border-radius: 0.15em;
}

.form .actionLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: var(--form-border-radius);
}

.form .actionLabel a {
  text-decoration: underline;
  cursor: pointer;
  color: var(--fg-color-less);
}

.form .radioInput {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding-inline: var(--s-4);
  border-radius: var(--form-border-radius);
  transition: all 200ms;
}

.form .radioInput:hover:has(input:not(:checked)) {
  background: var(--form-bg-color);
}

.form .radioInput:hover label {
  color: var(--fg-color);
}

.form .radioInput input {
  min-height: auto;
  height: var(--s1);
  width: var(--s1);
  cursor: pointer;
}

.form .radioInput label {
  font-size: var(--s0);
  text-transform: none;
  color: var(--fg-color-less);
  letter-spacing: 0;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
  padding: var(--s-2);
}

.form .radioInput:has(input:checked) label {
  color: var(--fg-color);
}

.form .error {
  background: #fde2d8;
  color: #a81f07;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
