.window {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.header {
    -webkit-app-region: drag;
    padding: 3rem 1rem 2.5rem 1rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    user-select: none;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    flex: 1;
    width: 100%;
    overflow: hidden;
}

.footer {
    display: flex;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
}

.footer button {
    width: 100%;
}

.subtext {
    font-size: 13px;
    color: var(--foreground-color-light);
    text-align: center;
    overflow: auto;
    padding: 0 1rem;
}

.title {
    padding: 0 1rem;
    text-align: center;
    font-weight: bold;
}

.progress {
    margin: 0.25rem 0;
    padding: 0 2rem;
}

@media (prefers-color-scheme: dark) {
    .window {
        color: white;
    }

    .subtext {
        color: rgb(255, 255, 255, 0.8);
    }
}
