@mixin clickable() {
  cursor: pointer;
  user-select: none;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.2);
  }
  &:active {
    box-shadow: none;
    transform: none;
  }
}
