@mixin range-input-thumb {
  height: 24px;
  width: 24px;
  border-radius: 50px;
  background-color: $blue;
  cursor: pointer;
  margin-top: -8px;
}

@mixin range-input-track {
  border-radius: 10px;
  cursor: pointer;
  height: 8px;
  background-color: $gray;
}

@mixin range-input {
  // Reset
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  padding: 10px 0;
  margin: 0;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  &:focus {
    outline: none;
  }

  *::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  // Custom styles

  &::-webkit-slider-thumb {
    @include range-input-thumb;
  }
  &::-moz-range-thumb {
    @include range-input-thumb;
  }
  &::-ms-thumb {
    @include range-input-thumb;
  }

  &::-webkit-slider-runnable-track {
    @include range-input-track;
  }
  &::-moz-range-track {
    @include range-input-track;
  }
  &::-ms-track {
    @include range-input-track;
  }
}
