.grid {
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 360px;
  border-radius: 8px 8px 0 0 ;
  overflow: hidden;
  background-color: var(--chrome-color);
}

.main {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  min-width: 0;
  min-height: 0;
  height: 100%;
  width: 100%;
  grid-row: 1 / 2;
  grid-column: 1 / 2;  
  padding: 10px;
  padding-right: 0px;
}
