.grid {
  width: 100vw;
  height: 100vh;
  background: white;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 360px;
}

.main {
  display: grid;
  grid-template-rows: 44px auto 1fr;
  grid-template-columns: 1fr;
  min-width: 0;
  min-height: 0;
  height: 100%;
  width: 100%;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  background-color: var(--chrome-color);
}

.titlebar {
  -webkit-app-region: drag;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px white;
  font-size: 13px;
  font-weight: 500;
  user-select: none;
}

.aside {
  grid-column: 2 / 3;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px;
}

.toolbar .title {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: var(--foreground-color-light);
}

.toolbarActions {
  margin-left: auto;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.shaper {
  position: relative;
  min-width: 0;
  display: grid;
  grid-template-rows: 44px 1fr;
  margin: 0 10px;
  background: white;
  border-radius: 6px;
  box-shadow: var(--shadow-elevation-low);
}

.editor {
  min-width: 0;
  min-height: 0;
  border-radius: 0 0 6px 6px;
  overflow: hidden;
}

.resultsGroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 0px;
  margin-right: 0px;
  min-height: 0;
}

.original {
  margin-right: 0;
}

.original label {
  background: var(--primary-color-lighter);
  color: var(--primary-color-darker);
}

.shaped label {
  background: hsl(30deg 100% 83%);
  color: hsl(30deg 100% 30%);
}

.aside {
  min-width: 0;
  background: var(--chrome-color);
  grid-row: span 2;
  padding: 0;
  display: grid;
  grid-template-rows: min-content minmax(auto, min-content) min-content;
  overflow: hidden;
}

.formTitle {
  user-select: none;
  margin: 2rem auto 1em auto;
  padding: 0 calc(18px + var(--form-border-radius));
  font-size: 15px;
  font-weight: 500;
  color: var(--foreground-color-light);
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  width: max-content;
}

.formTitle hr {
  border: none;
  border-top: 2px solid var(--primary-color);
}
