.grid {
    width: 100vw;
    height: 100vh;
    background: white;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 360px;
}

.main {
    display: grid;
    grid-template-rows: 44px 80px 1fr;
    grid-template-columns: 1fr 1fr;
    min-width: 0;
    min-height: 0;
    height: 100%;
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.aside {
    grid-column: 2 / 3;
}

.toolbar {
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toolbar > * {
    width: 100%;
    flex: 1;
}

.toolbar .title {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.toolbarActions {
    margin-left: auto;
    display: flex;
    gap: 10px;
    margin-right: 18px;
    justify-content: flex-end;
}

.shaper {
    grid-column: span 2;
    min-width: 0;
    min-height: 0;
}

.results {
    display: grid;
    grid-template-rows: 28px 1fr 28px;
}

.results header {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 18px;
}

.results section {
    min-height: 0;
    min-width: 0;
}

.results footer {
    padding: 0 18px;
    display: flex;
    align-items: center;
    background-color: var(--chrome-color);
    gap: 12px;
}

.results label {
    font-weight: bold;
    font-size: 14px;

}

.original {
    border-right: 1px solid var(--border-color);
    min-width: 0;
    min-height: 0;
}

.shaped {
    min-width: 0;
    min-height: 0;
}

.aside {
    min-width: 0;
    background: var(--chrome-color);
    border-left: 1px solid var(--border-color);
    grid-row: span 2;
    padding: 0;
    display: grid;
    grid-template-rows: min-content minmax(auto, min-content) min-content;
    overflow: hidden;
}

.formTitle {
    margin: 2rem auto 0 auto;
    padding: 0 calc(18px + var(--form-border-radius));
    font-size: 15px;
    font-weight: 500;;
    color: var(--foreground-color-light);
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    width: max-content;
}

.formTitle hr {
    border: none;
    border-top: 2px solid var(--primary-color);
}
