.sidebar-row {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar-item,
.sidebar-node {
  border-radius: 6px;
  width: 100%;
  cursor: default;
  user-select: none;
  background-color: transparent;
  border-style: solid;
  border-color: transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  --gutter: 0.33em 0.66em;
  --selected-bg: var(--primary-color);
  --selected-color: white;
  --selected-shadow: var(--shadow-s);
  --selected-border: var(--primary-color-dark);
}

.sidebar-item:active,
.sidebar-row:active .sidebar-node {
  background-color: var(--active-bg);
}

.sidebar-item[aria-selected="true"],
.sidebar-row[aria-selected="true"] .sidebar-node {
  box-shadow: var(--selected-shadow);
  background: var(--selected-bg);
  color: var(--selected-color);
  border-color: var(--selected-border);
}

.white-selection {
  --selected-bg: white;
  --selected-color: var(--fg-color);
  --selected-border: var(--border-color);
}
