.tab-bar {
  /* Layout */
  grid-area: tabs;
  display: flex;
  align-items: center;
  overflow: hidden;
  & > * {
    flex: 0 0 auto;
  }

  /* Spacing */
  padding-inline: var(--gutter);
  gap: var(--space-xs);

  /* Theme */
  -webkit-app-region: drag;
}

.tab-list {
  /* Layout */
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  height: 100%;
  overflow: hidden;

  /* Sizing */
  gap: var(--space-3xs);
  padding-block: 4px;
}

.tab-item {
  /* Layout */
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* Sizes */
  flex: 0 1 200px;
  block-size: 100%;
  min-inline-size: 0;
  padding-inline-start: var(--gutter);
  padding-inline-end: var(--half-gutter);

  /* Theme */
  user-select: none;
  -webkit-app-region: no-drag;
  cursor: default;
  background-color: var(--emphasis-bg-less);
  border: 1px solid var(--emphasis-bg-less);
  border-radius: var(--radius-m);
  transition: transform 500ms var(--emphasis-easing);
  &:hover {
    background-color: var(--emphasis-bg);
    & .tab-item-close-button {
      visibility: visible;
    }
  }
  &[aria-selected="true"] {
    border-color: transparent;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color-more);
  }

  .tab-icon {
    vertical-align: -3.5px;
    margin-inline-end: 0.3em;
  }
}

button.tab-item-close-button {
  visibility: hidden;
  min-width: 0px;
  width: 1.5em;
  height: 1.5em;
}

.mac-placeholder {
  -webkit-app-region: drag;
  inline-size: 54px;
}

.tab-close-button {
  background: none;
}

.scoot-left {
  transform: translateX(-50%);
}
