name: Advance Super

concurrency: ${{ github.workflow }}

# This type must match the event type received from the super repo.
# https://help.github.com/en/actions/reference/events-that-trigger-workflows#external-events-repository_dispatch
# These events only trigger on the GitHub default branch (usually main
# or master).
on:
  repository_dispatch:
    types: [super-pr-merged]
  workflow_dispatch:
    inputs:
      super_ref:
        required: true
        type: string

env:
  super_ref: ${{ github.event.client_payload.merge_commit_sha || inputs.super_ref }}

jobs:
  advance-super:
    name: Advance Super
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04]
    steps:
      - uses: actions/checkout@v4
        with:
          # ref defaults to github.sha, which is fixed at the time a run
          # is triggered. Using github.ref ensures a run that waits for
          # the concurrency group will see any commits pushed by the runs
          # that caused it to wait, reducing push failures down below.
          ref: ${{ github.ref }}
          # We need a token with permission to push.
          token: ${{ secrets.PAT_TOKEN }}
      - uses: ./.github/actions/setup-app
      # Installing libsecret-1-dev was necessary to get e2e tests to run on ubuntu-24.04 Actions Runners
      - run: sudo apt-get -y install whois libsecret-1-dev
      - run: yarn workspace superdb-desktop add super@brimdata/super#${{ env.super_ref }}
      - run: yarn workspace superdb-node-client add super@brimdata/super#${{ env.super_ref }}
      - run: yarn lint
      - run: yarn test
      - run: yarn build
      # The following sysctl setting is to work around https://github.com/brimdata/zui/issues/3194
      - run: sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0
      - name: End to end tests
        id: playwright
        run: |
          /usr/bin/xvfb-run --auto-servernum -s "-screen 0 1280x1024x24" yarn e2e:ci

      - run: git -c user.name='Brim Automation' -c user.email=automation@brimdata.io commit -a -m 'upgrade super to ${{ env.super_ref }}'

      # If this push fails because a PR was merged while this job was
      # running, you can re-run the failed job via
      # https://github.com/brimdata/zui/actions.  Or, if you expect
      # this workflow to be dispatched again soon, you can simply ignore
      # the failure.
      - run: git push
        if: github.event_name != 'workflow_dispatch'
