name: Create Insiders Dev Build

on:
  workflow_dispatch:
    inputs:
      zui-branch:
        description: 'Zui branch on which to base this Zui Insiders build'
        default: 'main'
        required: false
  push:
    branches:
      - 'build-insiders/**'

jobs:
  check_latest:
    name: Get last released version
    runs-on: ubuntu-20.04
    steps:
      - name: Get last released version
        id: latest_release
        uses: thebritican/fetch-latest-release@v2.0.0
        with:
          repo_path: brimdata/zui-insiders
    outputs:
      version: ${{ steps.latest_release.outputs.tag_name }}

  release:
    name: Build
    needs: check_latest
    strategy:
      matrix:
        platform: [windows-2019, macos-12, ubuntu-20.04]

    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout Zui
        uses: actions/checkout@v3

      - name: Setup Zui
        uses: ./.github/actions/setup-zui

      - name: Inject package.json
        run: yarn nx inject insiders ${{ needs.check_latest.outputs.version }}

      - name: Disable yarn immutable installs
        run: yarn config set enableImmutableInstalls false

      - name: Re-run yarn
        run: yarn

      - name: Build Zui
        uses: ./.github/actions/build-zui
        with:
          cmd: yarn nx package-insiders zui
          gh_token: ${{ secrets.PAT_TOKEN }}
          # Windows
          csc_key_password: ${{ secrets.WINDOWS_SIGNING_PASSPHRASE }}
          csc_link: ${{ secrets.WINDOWS_SIGNING_PFX_BASE64 }}
          # Mac
          apple_id: ${{ secrets.APPLEID_USER }}
          apple_id_password: ${{ secrets.APPLEID_PASSWORD }}
          apple_team_id: ${{ secrets.APPLE_TEAM_ID }}
          cert_p12: ${{ secrets.APPLE_DEVELOPER_ID_CERT_P12_BASE64 }}
          cert_passphrase: ${{ secrets.APPLE_DEVELOPER_ID_CERT_PASSPHRASE }}

      - name: Upload Artifacts
        uses: ./.github/actions/upload-build-artifacts
