name: CI

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-15, macos-15-intel, ubuntu-24.04, windows-2022]
    steps:
      - run: git config --global core.autocrlf false
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-app
      - run: yarn lint
      - run: yarn test
      - name: Build and install package
        if: runner.os != 'Windows'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -x
          case ${{ runner.os }} in
            Linux )
              yarn nx package-app superdb-desktop --linux=deb --publish never
              sudo apt install -y --no-install-recommends ./dist/apps/superdb-desktop/*.deb
              ;;
          esac
