name: Link checker

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: gaurav-nelson/github-action-markdown-link-check@v1
