name: Create Release

on:
  workflow_dispatch:
  push:
    branches:
      - 'release/**'

jobs:
  release:
    strategy:
      matrix:
        # macos-13 is is Intel-based (x64), macos-14 is Apple Silicon (arm64)
        platform: [macos-13, macos-14, ubuntu-22.04, windows-2019]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout Zui
        uses: actions/checkout@v4

      - name: Setup Zui
        uses: ./.github/actions/setup-app

      - name: Build Zui
        uses: ./.github/actions/build-zui
        with:
          cmd: yarn nx release-app zui
          gh_token: ${{ secrets.GITHUB_TOKEN }}
          # Windows
          ssl_com_username: ${{ secrets.WINDOWS_SIGNING_SSL_COM_USERNAME }}
          ssl_com_password: ${{ secrets.WINDOWS_SIGNING_SSL_COM_PASSWORD }}
          ssl_com_totp_secret: ${{ secrets.WINDOWS_SIGNING_SSL_COM_TOTP_SECRET }}
          ssl_com_credential_id: ${{ secrets.WINDOWS_SIGNING_SSL_COM_CREDENTIAL_ID }}
          # Mac
          apple_id: ${{ secrets.APPLEID_USER }}
          apple_id_password: ${{ secrets.APPLEID_PASSWORD }}
          apple_team_id: ${{ secrets.APPLE_TEAM_ID }}
          cert_p12: ${{ secrets.APPLE_DEVELOPER_ID_CERT_P12_BASE64 }}
          cert_passphrase: ${{ secrets.APPLE_DEVELOPER_ID_CERT_PASSPHRASE }}

      - name: Upload Artifacts
        uses: ./.github/actions/upload-build-artifacts
        with:
          gh_token: ${{ secrets.GITHUB_TOKEN }}
