.slide-in-from-left-enter {
  transform: translateX(-100%);
}

.slide-in-from-left-enter-active {
  transition: transform 150ms;
  transform: translateX(0);
}

.slide-in-from-left-exit {
  transform: translateX(0);
}

.slide-in-from-left-exit-active {
  transition: transform 150ms;
  transform: translateX(-100%);
}

.slide-in-from-right-enter {
  transform: translateX(100%);
}

.slide-in-from-right-enter-active {
  transition: transform 150ms;
  transform: translateX(0);
}

.slide-in-from-right-exit {
  transform: translateX(0);
}

.slide-in-from-right-exit-active {
  transition: transform 150ms;
  transform: translateX(100%);
}

@keyframes flash-element {
  from {
    background: inherit;
    transform: inherit;
  }

  10% {
    background: yellow;
    transform: scale(1.3);
  }

  to {
    background: inherit;
    transform: inherit;
  }
}

.flash-element {
  animation: flash-element 500ms ease-out;
}
