.columns-tree__type {
  font-size: 10px;
  display: inline-block;
  margin-left: 2px;
}

.columns-tree__item--hidden {
  opacity: 0.5;

  .list-item__menu {
    visibility: visible;
    width: auto;
  }
}
