.conn-versation {
  user-select: none;
  font-size: var(--step--1);

  td,
  th {
    white-space: nowrap;
    user-select: all;
  }

  .host {
    margin-inline: auto;
    max-inline-size: fit-content;
    border: 1px solid var(--border-color);
  }

  .fieldset {
    text-align: center;
    padding: var(--space-3xs);
  }

  .ip,
  .port {
    margin: 0;
    color: white;
    background: var(--primary-color);
    text-align: center;
    font-family: var(--mono-font);
    user-select: all;
  }

  .ip.small {
    font-size: var(--step--2);
  }

  .port {
    background: #65bef6;
  }

  .responder {
    .ip {
      background: var(--green);
    }

    .port {
      background: #5ec4a8;
    }
  }

  .history {
    align-self: center;
    flex: 1;
  }

  .history-packet {
    display: flex;
    align-items: center;
    line-height: 18px;

    span {
      font-weight: bold;
      font-family: var(--mono-font);
      text-transform: uppercase;
      font-size: 12px;
      padding: 1px 6px;
    }

    hr {
      flex: 1;
      border: none;
      border-bottom: 1px solid var(--fg-color-less);
      margin: 0;
    }

    .triangle {
      fill: var(--fg-color-less);
      stroke: var(--fg-color-less);
      width: 10px;
    }
  }

  .history-packet.arrow-right {
    padding-right: $space-s * 0.5;
  }

  .history-packet.arrow-left {
    padding-left: $space-s * 0.5;

    .triangle {
      order: 1;
      transform: rotate(180deg);
    }

    hr {
      order: 2;
    }

    span {
      order: 3;
    }
  }
}
