@keyframes flash-element {
  from {
    background: inherit;
    transform: inherit;
  }

  10% {
    background: yellow;
    transform: scale(1.3);
  }

  to {
    background: inherit;
    transform: inherit;
  }
}

.flash-element {
  animation: flash-element 500ms ease-out;
}
