*,
*::before,
*::after {
  box-sizing: border-box;
  overflow-wrap: break-word;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 14px;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--body-font);
  color: var(--fg-color);


  &:not(.is-mac) {
    background-color: var(--window-color);
  }
}

input,
button,
textarea,
select {
  color: var(--fg-color);
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

pre,
code {
  border-radius: 3px;
  font-family: var(--mono-font);
}

pre {
  overflow-x: scroll;
}

code {
  padding: 2px 3px;
}

body.no-select {
  user-select: none;
}

body.col-resize {
  cursor: col-resize;
}

a {
  color: var(--primary-color);
}

button {
  user-select: none;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}


*::-webkit-scrollbar-track {
  background-color: var(--emphasis-bg-less);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--emphasis-bg);
  border-radius: 6px;
  border: 1px solid var(--border-color);
}

*::-webkit-scrollbar-corner {
  background-color: var(--emphasis-bg-less);
}

dt {
  font-weight: bold;
}

dd {
  font-family: var(--mono-font);
}
