*,
*::before,
*::after {
  box-sizing: border-box;
  overflow-wrap: break-word;
}

* {
  margin: 0;
}

*:focus-visible {
  outline-offset: 4px;
  outline-color: var(--primary-color);
  outline-width: 2px;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.5;
  font-size: var(--step-0);
  -webkit-font-smoothing: antialiased;
  font-family: var(--body-font);
  color: var(--fg-color);

  &:not(.is-mac) {
    background-color: var(--window-color);
  }
}


input,
button,
textarea,
select {
  color: var(--fg-color);
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h4 {
  font-size: var(--step-1);
}

h3 {
  font-size: var(--step-2);
}

h2 {
  font-size: var(--step-3);
}

h1 {
  font-size: var(--step-4);
}



pre,
code {
  border-radius: 3px;
  font-family: var(--mono-font);
}

pre {
  overflow-x: auto;
}

code {
  padding: 2px 3px;
}

body.no-select {
  user-select: none;
}

body.col-resize {
  cursor: col-resize;
}

a {
  color: var(--primary-color);
}

button {
  user-select: none;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}


*::-webkit-scrollbar-track {
  background-color: var(--emphasis-bg-less);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--emphasis-bg);
  border-radius: 6px;
  border: 1px solid var(--border-color);
}

*::-webkit-scrollbar-corner {
  background-color: var(--emphasis-bg-less);
}

dt {
  font-weight: bold;
}

dd {
  font-family: var(--mono-font);
}

.is-dragging {
  user-select: none;
}

label {
  display: block;
  font-weight: bold;
  color: var(--fg-color-less);
  opacity: 0.9;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-size: var(--step--1);
}

input {
  font-size: inherit;
}

dialog {
  color: var(--fg-color);
  max-height: none;
  max-width: none;
  border: none;
  padding: 0;

  &::backdrop {
    background: transparent;
  }
}
