.hash-correlation {
  .two-column {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    & > * {
      flex-basis: 45%;
    }
  }

  .table {
    margin-bottom: 12px;
  }
}
