.inline-table-loading {
  tr {
    height: 20px;
    &:hover {
      background: initial !important;
    }
  }

  tbody {
    td {
      border-radius: 3px !important;
    }

    tr:nth-child(1) {
      animation: squeeze 3000ms 100ms ease-in-out infinite;
    }

    tr:nth-child(3) {
      animation: squeeze 3000ms 300ms ease-in-out infinite;
    }

    tr:nth-child(5) {
      animation: squeeze 3000ms 500ms ease-in-out infinite;
    }
  }
}

@keyframes squeeze {
  from {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(1);
    background-color: var(--table-stripe-bg);
  }

  60% {
    transform: scaleX(0.85);
    background-color: var(--hover-light-bg);
  }

  70% {
    transform: scaleX(1);
  }
}
