.log-detail {
  padding: 12px;
  section {
    margin-bottom: 24px;
  }
}

.empty-message-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .empty-message {
    text-align: center;
    color: var(--slate);
    font-size: 12px;
  }
}
