.viewer {
  overflow: visible;
  height: 0;
  width: 0;

  *::selection {
    background: transparent;
  }

  .using-keyboard &:focus {
    outline: none;
  }
}

.viewer .view {
  overflow: scroll;
  display: flex;
}

.viewer .list {
  position: relative;
}

.viewer .chunk {
  position: absolute;
}

.viewer .log-row {
  white-space: nowrap;
  contain: layout style;
  display: flex;
  font-family: var(--mono-font);
  font-size: 12px;
  white-space: nowrap;
  min-height: 25px;
  line-height: 25px;
  align-items: center;
  opacity: 1;
  padding-left: 16px;

  &.even {
    background: var(--table-stripe-bg);
  }

  &:hover {
    background: var(--hover-light-bg);
  }

  &.highlight {
    background: var(--havelock);

    span {
      color: white;
    }
  }
}

.viewer .end-message {
  text-align: center;
  font-size: 12px;
  color: var(--lead);
  line-height: 100px;
}

.viewer {
  .count,
  .duration,
  .uint8,
  .uint16,
  .uint32,
  .uint64,
  .int8,
  .int16,
  .int32,
  .int64 {
    text-align: right;
  }

  .path-tag {
    @include path-tag;
  }
}
