.message-box {
  color: white;
  padding: 12px 24px 24px 24px;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  width: 400px;
  background-color: transparentize(#545866, 0.03);
  @include shadow-medium;

  &::after {
    width: 120px;
    height: 120px;
    content: "";
    background-color: #d93347;
    position: absolute;
    top: -80px;
    left: -80px;
    border-radius: 50%;
  }

  .header {
    margin-left: 24px;
    margin-bottom: 24px;
  }

  .code {
    margin-top: 12px;
    background-color: rgba(0, 0, 0, 0.2);
    white-space: normal;
  }

  .close-button {
    position: absolute;
    right: 12px;
    top: 8px;
  }
}
