.tab {
  position: absolute;
  left: 0;
  user-select: none;
  -webkit-app-region: no-drag;
  height: 32px;
  border-radius: 6px;
  background: var(--emphasis-bg-less);
  cursor: default;
  will-change: transform;
  transition: none;
  margin-top: 1px;
  color: var(--fg-color);

  .tab-content {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
    opacity: 0.75;
    padding-inline-start: 8px;
    gap: 4px;
  }

  .icon {
    display: flex;
  }

  // Title
  .title {
    font-family: system-ui;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    opacity: 0.7;
  }

  // The hover state
  &:hover {
    background-color: var(--emphasis-bg);

    .title {
      opacity: 1;
    }

    .close-button {
      opacity: 1;
    }

    .tab-content {
      opacity: 0.9;
    }
  }

  // The active state
  &.active {
    background: var(--selected-bg);
    box-shadow: none;
    z-index: 1;

    .title {
      opacity: 1;
    }

    .tab-content {
      opacity: 1;
    }

    .close-button {
      opacity: 1;

      &:after {
        background: rgba(0, 0, 0, 0.1);
      }

      &:active:after {
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }

  &.is-new.active {
    background: white;
  }

  &.preview {
    font-style: italic;
  }
}
