.__react_component_tooltip.tooltip {
  @include label-small;
  transition: opacity 150ms;
  padding: 3px 8px;
}

.zui-tooltip-show-hover {
  pointer-events: auto !important;

  &:hover {
    visibility: visible !important;
    opacity: 1 !important;
  }
}
